/* cw_sub1.css */

@import url("./cwHeadWrap2.css");
@import url("./sub3_sideNavi.css");
@import url("./cwFootWrap.css");


/*sub1Content.css*/

/*----------------section_-----------------------*/
#section_bg{width: 100%;height: auto;background-image: url(../img/images/sub_brand/sub1/section_bg.png);}
#section{width: 890px;height: 100%; margin: 0 auto;background-color: #fff;}

.sideNavi_header{width: 100%;height: 46px; margin-bottom: 25px; background-image: url(../img/images/sub_community/sub1/sub_navhead1.png);background-repeat: no-repeat;}

/*---sectionContent---*/
#sectionContent{width: 100%;height: auto;border: 1px solid #eef;box-shadow: 0 1px 5px; background-color: #fff;margin-top: 100px;}
#sectionCon_header{width:inherit;height: 233px;background-image: url(../img/images/sub_community/sub1/sub1_head.png);background-repeat: no-repeat;background-position:center; }
#sectionCon_img{width:inherit;height: 240px;margin-top: 15px;background-image: url(../img/images/sub_community/sub1/sub1_img.png);background-repeat: no-repeat;background-position:center; }


#sectionCon_body{width:90%;margin-top: 40px;margin-bottom: 100px;margin-left: 50px;font-weight: .825rem;letter-spacing:0.06rem; }

#sectionCon_body>ul{width: 100%;height: 1500px;}
#sectionCon_body>ul>li{width: 45%;height: 276px; background-color: #faa;float: left;margin-left: 30px;margin-bottom: 20px;border-radius: 5%;background-position: center;}
#sectionCon_body>ul>li>span{width: 0;height: 0;display: block;overflow: hidden;}
#sectionCon_body>ul>li>div{width: 100px;height: 0;display: block;overflow: hidden;}
#sectionCon_body>ul>li:hover div{background-color: rgba(0,0,0,0.6);width: calc(100% - 10px); height: 140px;transition: height .7s ease-in;margin-top: 80px;color: #fff;font-weight: 0.825rem;line-height: 25px;padding: 20px 5px;font-weight: 500;text-indent: 7px;}
.content_box1{background-image: url(../img/images/sub_community/sub1/content1.png);background-repeat: no-repeat;}
.content_box2{background-image: url(../img/images/sub_community/sub1/content2.png);background-repeat: no-repeat;}
.content_box3{background-image: url(../img/images/sub_community/sub1/content3.png);background-repeat: no-repeat;}
.content_box4{background-image: url(../img/images/sub_community/sub1/content4.png);background-repeat: no-repeat;}
.content_box5{background-image: url(../img/images/sub_community/sub1/content5.png);background-repeat: no-repeat;}
.content_box6{background-image: url(../img/images/sub_community/sub1/content6.png);background-repeat: no-repeat;}
.content_box7{background-image: url(../img/images/sub_community/sub1/content7.png);background-repeat: no-repeat;}
.content_box8{background-image: url(../img/images/sub_community/sub1/content8.png);background-repeat: no-repeat;}
.content_box9{background-image: url(../img/images/sub_community/sub1/content9.png);background-repeat: no-repeat;}
.content_box10{background-image: url(../img/images/sub_community/sub1/content10.png);background-repeat: no-repeat;}



