//mpbile_h
@media screen and (min-width:481px) and (max-width:640px){ 
*{margin: 0;padding: 0;border: 0; font-family: sans-serif;}
//*:focus{outline: 2px solid $sub2;}
.item{margin:1.5625rem 0;}
html{height:100%;}
#wrap{width: 100%;height: auto;overflow: hidden;} 
#wrap>div{margin: 0 auto;}

   #menu>.menuclose_btn{width: 40px; height: 40px;background-image: url(../img/header/cancel.png);background-repeat: no-repeat;background-size: 100%;margin-top: 0.325rem;float: right;top: 20px;right:  4vw;   cursor: pointer;background-color: transparent;position: absolute;}

    /* topAdd */
    #topAdd { width: 84vw; height: 3.5rem; background-color: #999; padding: 1rem 8vw; position: relative; }
    #topAdd > p { width: 100%; height: 1.5rem; line-height: 2.1vw; color: #fff; font-size: 2.1vw; float: left; }
    #topAdd > .addbox { width: 80%; height: 1.5rem; float: left;color: #faa;font-size: 2vw;margin-top: 2px;}
    #topAdd > button { width: 40px; height: 40px; float: right; position: absolute; top: 2vw; right: 2.5vw;background-image: url(../img/header/cancel.png);background-repeat: no-repeat;background-size: 100%;background-position: center;background-color: transparent;}

 /*---------header--------------*/
    #header_bgbox{width: 100%;height:5.555rem;background-color: rgba(#BE7C7A,1);overflow:visible;position: relative;
        >#headerWrap{width: 100%;height: calc(100% - 1rem);padding: 1rem .375rem 0;margin: 0 auto;background-color: rgba(#BE7C7A,.2);position: relative;
            >h1{width: 7.25rem;height: 2.975rem;float: left;margin-left: 36%;margin-top: 5px;
                >a{width: 100%;height: 100%;display: block;background-image: url("../img/header/header_logo.png");background-repeat: no-repeat;background-position: left;}
            }//h1
             >#menu{width: 100%;height:auto;display: block;
                 >.menu_btn{width: 40px; height: 40px;background-image: url(../img/header/menu.png);background-repeat: no-repeat;background-size: 100%;float: right;top: 25px; right:  4vw;  cursor: pointer;background-color: transparent;position: absolute;}
                 >dl{width: 100%;height: 0;position: absolute;z-index: 600;overflow: hidden;right: 0;top: 13vw;
                    >dt{width: 100%;height: auto;background-color: #e496a5;
                         >a{width: 100%;height: 100%;display: block;text-decoration: none;text-align: center;line-height: 7vw;font-size: 1rem;font-weight: bold;color: #555;border: 1px solid #fff;transition:  all 0.3s;cursor: pointer;
                        &:hover{background-color: #583B2C;color: #fff;}
                        }
                    }//dt
                }//dl
            }//#menu
            >#sitemap{display: none;width: 14.125rem;height: 0.9375rem;float: right;margin-bottom: 0.73rem;
                >ul{width: 100%;height: 100%;margin-left: 1.5vw;
                    >li{height:45%;float: left;margin-top: -0.625rem;margin-left:0.1875rem; 
                        >a{width: 100%;height: 100%;font-size: 0.875rem;font-size: 0.875rem;text-decoration: none;}
                    } //li
                    .site01{width:2.75rem;height:100%;}//.site01
                    .site02{width:3.75rem;height:100%;}//.site02
                    
                }//ul
            }//#sitemap
            >#gnb{display: none;width: 49.375rem;height: 2.125rem;float: right;
                >ul{width: 88%;height: inherit;margin-left: 7.8125rem;overflow: hidden;
                    >li{height: inherit;margin-right: 5.3333vw;float: left;
                        >a{background-image: url("../img/header/gnb.png");background-position: center;background-repeat: no-repeat;
                            
                        }//a  
                    }//li
                    .gnb_01{width: 3.25rem;height: 1.5rem;
                        >a{width: 3rem;height: 1.5rem;background-position: -0.3125rem -0.3125rem;}
                    }
                    .gnb_02{width: 4.875rem;height: 1.5rem;
                        >a{width: 4.625rem;height: 1.5rem;background-position: -0.3125rem -8.8125rem;}
                    }
                    .gnb_03{width: 3.0625rem;height: 1.5rem;
                        >a{width: 2.8125rem;height: 1.5rem;background-position: -0.3125rem -6.6875rem;}
                    }
                    .gnb_04{width: 5.875rem;height: 1.5rem;
                        >a{width: 5.625rem;height: 1.5rem;background-position: -0.3125rem -2.4375rem;}
                    }
                    .gnb_05{width: 8.5rem;height: 1.5rem;
                        >a{width: 8.25rem;height: 1.5rem;background-position: -0.3125rem -4.5625rem;}
                    }
                    
                }//ul
            }//#gnb
        }//#headerWrap
    }//#header_bgbox


 /*---------banner--------------*/
    #bannerWrap{width:100%;height:60vw;overflow: hidden;background-color: $main;
       >.banner_box{width:100%;height: 100%;overflow: hidden;position: relative;
                >button{width: 2rem;height:4rem;background-color:transparent; position: absolute;bottom: 0.5vw;left:18vw;}
                >.btn_01{background-image:  url("../img/banner/banner_left.png");background-repeat: no-repeat;background-position: center; float: left;cursor: pointer;background-size: 80%;margin-left: 2px;}
                >.btn_02{background-image:  url("../img/banner/banner_right.png");background-repeat: no-repeat;background-position: center;float: left;cursor: pointer;background-size: 80%;margin-left: 40px;}
            
            >ol{width: 7.5rem;height: 1.25rem;position: absolute;bottom:3.2vw;left: 34%; z-index: 20;float: left;
                >li{width: 0.9375rem;height: 0.9375rem;float: left;margin-right: 0.3125rem;
               
                }//li
                >.indicator_1{width: 0.9375rem;height: 0.9375rem;background-color: #555;cursor: pointer;border-radius: 50%;}
                >.indicator_2{width: 0.9375rem;height: 0.9375rem;background-color: #555;cursor: pointer;border-radius: 50%;}
                >.indicator_3{width: 0.9375rem;height: 0.9375rem;background-color: #555;cursor: pointer;border-radius: 50%;}
                >.indicator_4{width: 0.9375rem;height: 0.9375rem;background-color: #555;cursor: pointer;border-radius: 50%;} 
            }//ol
            >ul{width: 500%;height: 100%;margin-left: -100%;
                >li{width: calc(100% / 5);height:100%;float: left;
                    >img{height: 100%;width: 100%;} 
                }//li
            }//ul
        }//.banner_box
    }//#bannerWrap


 /*---------article--------------*/
    #article_bg{width:100%;height:auto; background-image: url(../img/article/bg.png);
        #articleWrap{width: calc(100% - 2rem);height:calc(100% - 1.5625vw);padding-top: 1.5625vw; margin: 0 auto;box-shadow: .03125rem 0 .125rem;background-color: #fff;
            >#best_item{width: 100%;height: 20.8125rem;
                >.bestitem_title{width: 100%;height:  3.875rem;background-position: center; background-image: url(../img/article/index_title_bestitem.png);background-repeat: no-repeat;margin-bottom: 2.5rem;}
                >#best_item_image{width: calc(100% - 2rem);height: 14.375rem;background-image: url(../img/article/bg2.png);background-position: center;box-shadow: 2px 2px 10px; margin: 0 auto;
                     >ul{width: 500%;height: 100%;
                        >li{width: calc(100% / 5);height: 100%;float: left;margin-top: 0.35rem;margin-left: 1.2rem;}//li
                        >.best_01{width:24vw;height: 16rem; background-image: url("../img/article/image_1.png");background-repeat: no-repeat;background-position: center;background-size:100%; -webkit-transform: scale(0.9);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;
                            &:hover{-webkit-transform: scale(1);transform: scale(1);}
                        }
                        >.best_02{width:24vw;height: 16rem; background-image: url("../img/article/image_2.png");background-size:100%;background-repeat: no-repeat;background-position: center;-webkit-transform: scale(0.9);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;
                            &:hover{-webkit-transform: scale(1);transform: scale(1);}
                        }
                        >.best_03{width:24vw;height: 16rem; background-image: url("../img/article/image_3.png");background-size:100%;background-repeat: no-repeat;background-position: center;-webkit-transform: scale(0.9);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;
                            &:hover{-webkit-transform: scale(1);transform: scale(1);}
                        }
                          >.best_04{width:24vw;height: 16rem; background-image: url("../img/article/image_1.png");background-repeat: no-repeat;background-position: center;background-size:100%; -webkit-transform: scale(0.9);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;
                            &:hover{-webkit-transform: scale(1);transform: scale(1);}
                        }
                        >.best_05{width:24vw;height: 16rem; background-image: url("../img/article/image_2.png");background-size:100%;background-repeat: no-repeat;background-position: center;-webkit-transform: scale(0.9);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;
                            &:hover{-webkit-transform: scale(1);transform: scale(1);}
                        }
                    }//ul
                }//#best_item_image
            }//#best_item
            >#movie{width: 100%;height: 22.8125rem;
                >.movie_title{width: 100%;height:  3.875rem;background-position: center; background-image: url(../img/article/index_apieu_movie_title.png);background-repeat: no-repeat;margin-bottom: 2.5rem;}
                >#movie_bg{width: 100%;height: 16.0625rem;padding-top: 1.125rem;background-image: url(../img/article/index_movie_bg.png);background-repeat: no-repeat;
                    >#movie_box{width: 70.875vw;height: 13.5rem;background-color: #fff;border: 0.25rem solid #645622;margin: 0 auto;padding:0.375rem;
                        ul{width: 100%;height: 100%;
                        >li{height: 13.125rem;float: left;}//li
                        >.movie_box_img{width: 45vw;height: 25vw;background-image: url(../img/article/index_movie_img.png);background-repeat: no-repeat;background-size:100%;margin-left: 12vw;
                            >button{width: 4.125rem;height: 2.8rem;background-image: url(../img/article/index_movie_btn.png);background-repeat: no-repeat;margin: .9375rem 0;cursor: pointer;background-position: center;background-color: transparent;position: absolute;left: 40%;top: 22%;}
                        }
                        >.movie_box_content{width: 13.125rem;height:8vw;float: left;margin-left: 0.625rem;
                            >ul{
                                >.movie_con_txt{
                                    >h4{width: 24vw;height: 8vw;background-image: url(../img/article/index_movie_txt.png);background-repeat: no-repeat;background-size: 100%;margin-left: 11vw;margin-top: 0.6vw;}
                                }
                                >.movie_con_img{display: none;}
                            }//ul
                          }//.movie_box_content
                        }//ul
                    }//#movie_box
                }//#movie_bg
                  >.popup1{width: 100%;height: 100%;background-color: rgba(#333,0.5);position: fixed;z-index: 500;top: 0;left: 0;display: none;
                .popupBox{width: 60%;height: auto;background-color: #333;border: 3px solid  $sub;position: absolute;left: 20%;top: 20%;border-radius: 10px;box-sizing: border-box;box-shadow: 1px 1px 1px #333;
                >iframe{width: 100%;height:30vw;}
        
                }//.popupBox
                .close{width: 2rem;height: 2rem;background-color: #333;color: #fff;font-weight: bold;position: absolute;right: calc(20% - 1rem);top: calc(20% - 1rem);z-index: 700;border-radius: 50%;transition: all .5s;font-size: 1rem;box-shadow: 2px 2px 2px #333;border: 2px solid #fff;
                &:hover{transform: rotate(20deg);}
        }
    }//.popup1
            }//#movie
                >#etc{width: 100%;height: 80vw;overflow: hidden;
                >ul{width: 100%;height: 100%;
                    >li{width: 100%;height: 50%;}
                    >#news{width: 100%;height: 30%;margin-left: 20%;margin-top: 10px;
                        >#news_title{width: 100%;height:  3.875rem;background-position: left; background-image: url(../img/article/index_title_news.png);background-repeat: no-repeat;margin-left: -5vw}
                        >#news_content{width: 46.3541vw;height:16.14vw;margin-left: 1.825rem;
                            >ul{width: 100%;height: 100%;
                                >li{width: 50%;height: 100%;float: left;margin-top: 0.5rem;}
                                >.news_image{width: 26vw;height: 9.625rem;background-image: url("../img/article/img_apieu.png");background-repeat: no-repeat;background-position: center;background-size: 100%;}
                                >.news_txt{width: 20vw;height: 9.375rem;
                                    >ul{width: 100%;height: 100%;margin-left: 2rem;
                                        >li{list-style:disc;line-height:2rem;font-size: 0.825rem}
                                         >li:last-child{display: none;}
                                    }//ul
                                }//.news_txt
                            }//ul
                        }//.news_content 
                    }//#news
                    >#membership_store{width:100%;height: 50%;margin-top: 50px;
                       padding-bottom: 10px;
                        >ul{width:90%;height: 50%;
                            >li{width: 100%;height: 100%;margin-left: 8%;
                                >a{width: 100%;height: 100%;}
                            }//ul
                            >.membership_card{background-image: url(../img/article/tab/membership_tab_off.png);background-repeat: no-repeat; background-position: center;position: relative;
                                >button{width: 16vw;height:2.91666vw;cursor: pointer;box-shadow: .0625rem 0 .125rem;  bottom: 22%;left: 12%; background-image:  url(../img/article/button_1.png);background-repeat: no-repeat; position: absolute;background-size: 100%;}
                                &:hover{background-image: url(../img/article/tab/membership_tab_on.png);background-repeat: no-repeat;transition: .5s ease-in-out;background-position: center;}
                            }
                            >.store{background-image: url(../img/article/tab/store_tab_off.png);background-repeat: no-repeat;background-position: center;position: relative;
                                 >button{width: 16vw;height:2.91666vw;cursor: pointer;box-shadow: .0625rem 0 .125rem;  bottom: 22%; left: 12%;  background-image:  url(../img/article/button_2.png);background-repeat: no-repeat; background-size: 100%;position: absolute;}
                                &:hover{background-image: url(../img/article/tab/store_tab_on.png);background-repeat: no-repeat;background-position: center;transition: .5s ease-in-out;}
                            }
                        }//ul
                    }   //#membership_store
                }//ul
            }//#etc
            #top_box{width:calc(100% - 30px);height: 50px;background-color: #eee;border-top: 1px solid #aaa;margin-bottom: 10px;padding-left: 30px;
                .top_btn{width: 100px;height: 27px;background-image: url(../img/article/top.png);background-repeat: no-repeat;background-size: 60%;margin: 0 auto;margin-top: 18px;cursor: pointer;
                    >a{width: 100%;height: 100%;}
                }
            } 
        }//#articleWrap
     }//#article_bg   



 /*---------footer--------------*/
    #footerWrap_box{width:100%;height:18.5rem;background-color: rgba(#e496a1,.6);
        >#footerWrap{width: calc(100% - 2rem);height:100%;background-color:rgba(253,208,158,0.0);margin: 0 auto;
            >ul{width: 100%;height: 100%;
             >.sns{width:100%;height:5rem;
                 >h3{width: 10vw;height: 1.875rem;background-image: url(../img/footer/sns.png);background-repeat: no-repeat;background-size:100%;margin-left: 30vw;margin-right: 10vw; float: left;margin-top: 2rem;}
                 >ul{width: 100%;height: 100%;min-height: 5rem;margin-right: 1.25rem;background-color: rgba(#e496a1,.2);box-shadow: .03125rem .03125rem .125rem;
                     >li{width: 25%;height: 100%;float: left;margin-right: 0.9375rem;margin-top: 1.125rem;}//li
                     >.kakao{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_kakao.png");
                        &:hover{background-image: url(../img/footer/icon_kakao_on.png);transition: .4s ease-in-out;}
                     }
                     >.twitter{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_tw.png");
                        &:hover{background-image: url(../img/footer/icon_tw_on.png);transition: .4s ease-in-out;}
                     }
                     >.facebook{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_face.png");
                        &:hover{background-image: url(../img/footer/icon_face_on.png);transition: .4s ease-in-out;}
                     }
                     >.instagram{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_insta.png");
                        &:hover{background-image: url(../img/footer/icon_insta_on.png);transition: .4s ease-in-out;}
                     }
                 }//ul
                }//.sns
             >.footer_box{width:calc(100% - 4rem);height:3.4375rem;padding: 2.1875rem 2rem 1.875rem; margin: 0 auto;
                 >h3{width: 15vw;height: 2.8125rem;float: left;background-image: url(../img/footer/able_logo.png);background-repeat: no-repeat;background-size: 100%;margin-left: 2.1rem;}//h3
                 >#addBox{height: 10vw;width:58.8541vw;margin-left: 2.8125rem;float: left;
                     >ul{width: 100%;height: 100%;
                         >li{display: none;
                         address>p{color: #555;margin-bottom: 0.2rem;
                                 >strong{font-weight: bold;color: #555;}
                             }
                         }
                         >li:last-child{margin-bottom: 0;display: block;font-size: 0.825rem;}
                     }
                 }//#addBox
             }//.footer_box
            }//ul
        }//#footerWrap
    }//#footerWrap_box
}