
//tablet_v

@media screen and (min-width:641px) and (max-width:768px){
  *{margin: 0;padding: 0;border: 0; font-family: sans-serif;}
//*:focus{outline: 2px solid $sub2;}
.item{margin:1.5625rem 0;}
html{height:100%;}
#wrap{width: 100%;height: auto;}
#wrap>div{margin: 0 auto;}
*{transition: all 0.5s ease-out;}
  #menu>.menuclose_btn{width: 48px;height:2.4rem;background-image: url(../img/header/cancel.png);background-repeat: no-repeat;background-size: 80%;margin-top: 0.325rem;top: 0;cursor: pointer;background-color: transparent;}
    
 /*---------header--------------*/
    #header_bgbox{width: 100%;height:5.555rem;background-color:rgba(253,208,158,0.4);overflow:visible;
        >#headerWrap{width: 100%;height: calc(100% - 1rem);padding: 1rem .375rem 0;margin: 0 auto;background-color:rgba(253,208,158,0);
            >h1{width: 7.25rem;height: 2.975rem;float: left;margin-left: 45%;
                >a{width: 100%;height: 100%;display: block;background-image: url("../img/header/header_logo.png");background-repeat: no-repeat;background-position: left;}
            }//h1
             >#menu{width: auto;height:auto;float: right;margin-right: 7%;position: relative;
                 >.menu_btn{width: 48px;height:2.4rem;background-image: url(../img/header/menu.png);background-repeat: no-repeat;background-size: 80%;margin-top: 0.325rem;top: 0;cursor: pointer;background-color: transparent;}
                 >dl{width: 96.5vw;height: 0;margin-left:-81vw;position: absolute;z-index: 60;overflow: hidden;top: 166%;
                    >dt{width: 100%;height: 10vw;background-color: #ccc;text-align: center;line-height: 3rem;font-size: 1rem;font-weight: bold;color: $white;border: 1px solid #fff;transition:  all 0.3s;cursor: pointer;
                        &:hover{background-color: #ccc;}
                    }//dt
                    >dd{width: 100%;height: 0;background-color: #595959;/*transition: height .5s;*/ overflow:hidden;cursor: pointer;
                        >ul{
                            >li{text-align: center;line-height: 3rem;font-size: 1rem;font-weight: bold;color: $white;border: 1px solid #fff;
                            &:hover{background-color: #ffe;color: #595959;}
                            }//li
                        }//ul
                     }//dd
                }//dl
            }//#menu
           >#sitemap{width: 14.125rem;height: 0.9375rem;float: right;margin-bottom: 0.73rem;
                >ul{width: 100%;height: 100%;margin-left: 3rem;
                    >li{height:45%;float: left;margin-top: -0.625rem;margin-left:0.4rem; 
                          >a{width: 100%;height: 100%;text-decoration: none;background-repeat: no-repeat;}
                    } //li
                    .site01{width:2.75rem;height:100%;
                        >a{background-image: url(../img/header/header_login.png);}
                    }//.site01
                    .site02{width:3.75rem;height:100%;
                         >a{background-image: url(../img/header/header_join.png);}
                    }//.site02
                    
                }//ul
            }//#sitemap
            >#gnb{display: none;width: 49.375rem;height: 2.125rem;float: right;
                >ul{width: 88%;height: inherit;margin-left: 7.8125rem;overflow: hidden;
                    >li{height: inherit;margin-right: 5.3333vw;float: left;
                        >a{background-image: url("../img/header/gnb.png");background-position: center;background-repeat: no-repeat;
                            &:hover{padding-top: 4px; border-radius: 0.675rem; border-bottom: 0.125rem solid $sub; text-decoration: none;transition: all .2s ease;}
                        }//a  
                    }//li
                    .gnb_01{width: 3.25rem;height: 1.5rem;
                        >a{width: 3rem;height: 1.5rem;background-position: -0.3125rem -0.3125rem;}
                    }
                    .gnb_02{width: 4.875rem;height: 1.5rem;
                        >a{width: 4.625rem;height: 1.5rem;background-position: -0.3125rem -8.8125rem;}
                    }
                    .gnb_03{width: 3.0625rem;height: 1.5rem;
                        >a{width: 2.8125rem;height: 1.5rem;background-position: -0.3125rem -6.6875rem;}
                    }
                    .gnb_04{width: 5.875rem;height: 1.5rem;
                        >a{width: 5.625rem;height: 1.5rem;background-position: -0.3125rem -2.4375rem;}
                    }
                    .gnb_05{width: 8.5rem;height: 1.5rem;
                        >a{width: 8.25rem;height: 1.5rem;background-position: -0.3125rem -4.5625rem;}
                    }
                    
                }//ul
            }//#gnb
        }//#headerWrap
    }//#header_bgbox


 

/*---------article--------------*/
    #article_bg{width:100%;height:auto; background-image: url(../img/article/bg.png);
        #articleWrap{width: calc(100% - 2rem);height:calc(100% - 1.5625vw);padding-top: 0; margin: 0 auto; box-shadow: .03125rem 0 .125rem;background-color: #fff;
            
            >#sub_head{width: 100%;height:1.25rem;background-color: rgba(232,194,141,0.3); padding: 1.125rem 0; }
            #brand_maintitle{width:6.25rem;height:1rem; background-image: url(../img/article/sub_brand/brand_txt.png); background-size: 100%; background-repeat: no-repeat;float: left;margin: 5px 30px;}
            #brand_submenu{width:8.9375rem;height:1rem;background-image: url(../img/article/sub_brand/brand_plus.png);background-size: 100%; background-repeat: no-repeat;float: right;margin: 5px 50px;cursor: pointer;}
                       
            .item{margin:6rem 0;}
            
       
            #brand{width: 100%; height:auto;}
            .brand_title{width: 100%;height: 1.625rem;background-position: center; background-image: url(../img/article/sub_brand/apieu_title.png);background-repeat: no-repeat;margin-bottom: 2.5rem;}
            
            .brand_title_img{width:100%;height: 15.625rem;background-position: center;box-shadow: 0.125rem 0.125rem 0.625rem; margin: 0 auto;}
            .brand_title_img>div{width:auto; height: 100%; float: left;}
            .brand_apieu1{background-color: rgba(232,194,141,0.3);}
            .brand_apieu2{background-color: rgba(200,194,141,0.3);}
            .brand_apieu3{background-color: rgba(232,150,141,0.3);}
            
            .brand_title_img>div>dl{width: 100%; height: 100%;}
            .brand_title_img>div>dl>dt{width:7vw; height: 100%; float:left;color:#fff;}
            .brand_title_img>div>dl>dd{/* width:calc(100% - 70px); */width:0; overflow: hidden; height: 100%; float:left; transition:all 0.3s;}
            .brand_title_img>div>dl>dd.brand_img_1{background-image:url(../img/article/sub_brand/apieu_1.png);background-position: center;background-size: 102%;background-repeat: no-repeat;}
            .brand_title_img>div>dl>dd.brand_img_2{background-image:url(../img/article/sub_brand/apieu_2.png);background-position: center;background-size: 102%;background-repeat: no-repeat;}
            .brand_title_img>div>dl>dd.brand_img_3{background-image:url(../img/article/sub_brand/apieu_3.png);background-position: center;background-size: 102%;background-repeat: no-repeat;}
            
        .brand_title_img>div>dl>dd.widthView{width:70vw;}

            
            #story{width: 100%; height:auto;}
            
            .brandstory_title{width: 100%;height: 1.75rem;margin-bottom: 30px; background-position: center; background-image: url(../img/article/sub_brand/brandstory_title.png);background-repeat: no-repeat;}
            
            #bs_box{width: 100%; height: 20rem;   
            >.bs_menubar{ width: 100%; height: 2rem;  margin: 0 auto;
                >ul{ min-width: 100%; width:auto; height:inherit;
                    a{width: 100%; height: 100%; display: block;}
                    >li.bs_bi{width: 25%;  height: 100%; float:left; 
                    background-image: url(../img/article/sub_brand/brandstory_menu_off_bi.png); background-position: center;background-repeat: no-repeat;  box-shadow: 1px 1px 1px 1px #ccc;
                    } // li.bs_bi
                    >li.bs_mark{width: 25%;  height: 100%; float:left; 
                    background-image: url(../img/article/sub_brand/brandstory_menu_off_mark.png); background-position: center;background-repeat: no-repeat; box-shadow: 1px 1px 1px 1px #ccc;
                    } // li.bs_mark
                    >li.bs_slogan{width: 25%;  height: 100%; float:left; 
                    background-image: url(../img/article/sub_brand/brandstory_menu_off_slogan.png); background-position: center;background-repeat: no-repeat;box-shadow: 1px 1px 1px 1px #ccc;
                    } // li.bs_slogan
                    >li.bs_concept{width: 25%;  height: 100%; float:left; 
                    background-image: url(../img/article/sub_brand/brandstory_menu_off_concept.png); background-position: center;background-repeat: no-repeat;box-shadow: 1px 1px 1px 1px #ccc;
                    } // li.bs_slogan
                } // ul
                } //.bs_menubar
                                
            div.story_imgbox{width: 100%; height: 310px; background-color: #cc9; margin: 20px auto;
                >img{width: 100%;height: 100%;}
                }
            }// #bs_box

  /*---------etc--------------*/           
             >#etc{width: 100%; height: 600px; }//#etc
            
            /*----membership_store---------*/
#membership_store{height:600px;position: relative; }
#store_box{width: 100%; height: 330px; float: left; margin-top: 10vw;   }
#store_box>h4{width: 100%; height: 34px; background-image: url(../img/article/sub_brand/store.png); background-position: center; background-repeat: no-repeat; margin-top: 20px;margin-bottom: 30px;}
.store{width: 350px; height: 90px; background-image: url(../img/article/sub_brand/store_img1.png); background-position: center;background-repeat: no-repeat; margin-left: 25vw;}

#store_formbox{width: 310px;height: 108px;margin-left: 28vw;margin-top: 15px;}
.store1{width: 100%;height: 55px;}
.store1>legend{width: 62px;height: 16px;margin-bottom: 8px; background-image: url(../img/article/sub_brand/store_text1.png);background-repeat: no-repeat;}
#store_city{width: 242px;height: 22px;color: #b58756;border: 1px solid #b58756;float: left;}
.store1>ul>li>button{width: 52px;height: 22px;margin-left: 15px;background-image: url(../img/article/sub_brand/store_btn.png);background-repeat: no-repeat;}

.store2{width: 100%;height: 55px;}
.store2>legend{width: 62px;height: 16px;margin-bottom: 8px; background-image: url(../img/article/sub_brand/store_text2.png);background-repeat: no-repeat;}
#searchBox{width: 242px;height: 22px;color: #b58756;border: 1px solid #b58756;float: left;}
.store2>button{width: 52px;height: 22px;margin-left: 15px;background-image: url(../img/article/sub_brand/store_btn.png);background-repeat: no-repeat;}

#membership_box{ height: 260px; padding-left: 30px;  }
#membership_box>h4{width: 100%; height: 34px; background-image: url(../img/article/sub_brand/vipmembership_title.png); background-repeat: no-repeat; background-position: center; margin-bottom: 30px;}
.membership_card{width: 285px; height: 191px; background-image: url(../img/article/sub_brand/membership.png);background-repeat: no-repeat; margin-left: 200px;}
.membership_card>.btn_01{width: 130px; height: 28px; margin-top: 128px; margin-left: 75px; background-image:  url("../img/article/button_1.png");background-repeat: no-repeat;background-position: center;float: left;cursor: pointer;}


.store:hover{background-image: url(../img/article/sub_brand/store_img2.png);background-repeat: no-repeat;transition: .5s ease-in-out;}

.membership_card:hover{background-image: url(../img/article/sub_brand/membership_hover.png);background-repeat: no-repeat;transition: .5s ease-in-out;  }
            
            
            
   /*---------top--------------*/              
            #top_box{width:calc(100% - 30px);height: 50px;background-color: #eee;border-top: 1px solid #aaa; padding-left: 30px; margin-bottom: 10px;
                .top_btn{width: 100px;height: 27px;background-image: url(../img/article/top.png);background-repeat: no-repeat;background-size: 60%;margin: 0 auto;margin-top: 18px;
                    > .top_btn>a{width: 100%;height: 100%;cursor: pointer;}
                }
            } 
        }//#articleWrap
     }//#article_bg   



 /*---------footer--------------*/
    #footerWrap_box{width:100%;height:18.5rem; background-color: $main;
        >#footerWrap{width: calc(100% - 2rem);height:100%;background-color: $main;margin: 0 auto;
            >ul{width: 100%;height: 100%;
             >.sns{width:100%;height:5rem;
                 >h3{width: 10vw;height: 1.875rem;background-image: url(../img/footer/sns.png);background-repeat: no-repeat;background-size:contain;margin-left: 38vw;}
                 >ul{width: 100%;height: 100%;min-height: 5rem;margin-right: 1.25rem;background-color: rgba(200,200,200,0.1);box-shadow: .03125rem .03125rem .125rem;
                     >li{width: 25%;height: 100%;float: left;margin-right: 0.9375rem;margin-top: 1.125rem;}//li
                     >.kakao{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_kakao.png");
                        &:hover{background-image: url(../img/footer/icon_kakao_on.png);transition: .4s ease-in-out;}
                     }
                     >.twitter{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_tw.png");
                        &:hover{background-image: url(../img/footer/icon_tw_on.png);transition: .4s ease-in-out;}
                     }
                     >.facebook{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_face.png");
                        &:hover{background-image: url(../img/footer/icon_face_on.png);transition: .4s ease-in-out;}
                     }
                     >.instagram{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_insta.png");
                        &:hover{background-image: url(../img/footer/icon_insta_on.png);transition: .4s ease-in-out;}
                     }
                 }//ul
                }//.sns
             >.footer_box{width:calc(100% - 2rem);height:3.4375rem;padding: 2.1875rem 2rem 1.875rem; margin: 0 auto;
                 >h3{width: 15vw;height: 2.8125rem;float: left;background-image: url(../img/footer/able_logo.png);background-repeat: no-repeat;background-size: 100%;margin-left: 2.1rem;}//h3
                 >#addBox{height: 15vw;width:35.3125rem;margin-left: 2.8125rem;float: left;
                     >ul{width: 100%;height: 100%;
                         >li{margin-bottom: 1.1875rem;
                         address>p{color: #555;margin-bottom: 0.2rem;
                                 >strong{font-weight: bold;color: #555;}
                             }
                         }
                         >li:last-child{margin-bottom: 0;}
                     }
                 }//#addBox
             }//.footer_box
            }//ul
        }//#footerWrap
    }//#footerWrap_box
    
}