
*{margin: 0;padding: 0;border: 0; font-family: sans-serif;}
//*:focus{outline: 2px solid $sub2;}
.item{margin:3.8rem 0;}
.item2{margin:5rem 0;}
html{height:100%;}
#wrap{width: 100%;height: auto;}
#wrap>div{margin: 0 auto;}

  #menu>.menuclose_btn{display: none;}
     /*---------header--------------*/
    #header_bgbox{width: 100%;min-width: 60rem; height:5.555rem;background-color: rgba(#BE7C7A,1);overflow-x: hidden;
        >#headerWrap{width: 938px;height: calc(100% - 1rem);padding: 1rem .375rem 0;margin: 0 auto;background-color: rgba(#BE7C7A,.2);
             >h1{width: 8rem;height: 100%;float: left;margin-top: -10px;
                >a{width: 100%;height: 100%;display: block;background-image: url("../img/header/header_logo.png");background-repeat: no-repeat;background-position: left;background-position: center;background-size: 100%;}
            }//h1
            >#menu{display: none;}//#menu
            >#sitemap{width: 14.125rem;height: 0.9375rem;float: right;margin-bottom: 0.73rem;
                >ul{width: 100%;height: 100%;margin-left: 3rem;
                    >li{height:45%;float: left;margin-top: -0.625rem;margin-left:0.4rem; 
                          >a{width: 100%;height: 100%;text-decoration: none;background-repeat: no-repeat;}
                    } //li
                    .site01{width:2.75rem;height:100%;
                        >a{background-image: url(../img/header/header_login.png);}
                    }//.site01
                    .site02{width:3.75rem;height:100%;
                         >a{background-image: url(../img/header/header_join.png);}
                    }//.site02
                    
                }//ul
            }//#sitemap
      >#gnb{width: 49.375rem;height: 2.125rem;float: right;
                >ul{width: 88%;height: inherit;margin-left: 7.8125rem;
                    >li{height: inherit;margin-right: 3.2rem;float: left;
                       
                    }//li
                    .gnb_01{width: 3.25rem;height: 1.5rem;
                        >a{width: 3rem;height: 1.5rem;background-image: url("../img/header/header_brand.png");background-position: center;background-repeat: no-repeat;transition: all .3s;
                            &:hover{background-image: url("../img/header/header_brand_on.png");background-position: center;background-repeat: no-repeat;border-bottom: 6px solid #573a2c;padding-top: 20px;}
                        }
                    }
                    .gnb_02{width: 4.875rem;height: 1.5rem;
                        >a{width: 4.625rem;height: 1.5rem;background-image: url("../img/header/header_shopping.png");background-position: center;background-repeat: no-repeat;transition: all .3s;
                            &:hover{background-image: url("../img/header/header_shopping_on.png");background-position: center;background-repeat: no-repeat;border-bottom: 6px solid #573a2c;padding-top: 20px;}
                        }
                    }
                    .gnb_03{width: 3.0625rem;height: 1.5rem;
                        >a{width: 2.8125rem;height: 1.5rem;background-image: url("../img/header/header_event.png");background-position: center;background-repeat: no-repeat;transition: all .3s;
                            &:hover{background-image: url("../img/header/header_event_on.png");background-position: center;background-repeat: no-repeat;border-bottom: 6px solid #573a2c;padding-top: 20px;}
                        }
                    }
                    .gnb_04{width: 5.875rem;height: 1.5rem;
                        >a{width: 5.625rem;height: 1.5rem;background-image: url("../img/header/header_community.png");background-position: center;background-repeat: no-repeat;transition: all .3s;
                            &:hover{background-image: url("../img/header/header_community_on.png");background-position: center;background-repeat: no-repeat;border-bottom: 6px solid #573a2c;padding-top: 20px;}
                        }
                    }
                    .gnb_05{width: 8.5rem;height: 1.5rem;
                        >a{width: 8.25rem;height: 1.5rem;background-image: url("../img/header/header_customer.png");background-position: center;background-repeat: no-repeat;transition: all .3s;
                            &:hover{background-image: url("../img/header/header_customer_on.png");background-position: center;background-repeat: no-repeat;border-bottom: 6px solid #573a2c;padding-top: 20px;}
                        }
                    }
                }//ul
            }//#gnb
        }//#headerWrap
    }//#header_bgbox



 /*---------article--------------*/
    #article_bg{width:100%;height:auto; background-image: url(../img/article/bg.png);
        #articleWrap{width: 948px;height:calc(100% - 1.5625vw);padding-top: 0; margin: 0 auto; box-shadow: .03125rem 0 .125rem;background-color: #fff;
        
            >#sub_head{width: calc(100% - 7.5rem);height:1.25rem;background-color: rgba(#e496a1,.2);padding: 1.125rem 3.75rem; }
            #review_maintitle{height:20px;width:269px;background-image: url(../img/article/sub_community/review_txt.png);background-repeat: no-repeat;float: left;margin-left: 4%;}
           
                       
            #review{width: 90%; height:auto;padding: 0 5%;}
            .review_title{width:  213px;height: 62px;background-position: center; background-image: url(../img/article/sub_community/review_title.png);background-repeat: no-repeat;margin-bottom: 40px;background-size: 100%;}
            .reviewsub_box{width: 100%;height: auto;margin-top: 52px;
                >h4{width: 100%;height: 58px; background-image: url(../img/article/sub_community/title_bestreview.png);margin-bottom:30px;background-size: 100%; background-repeat: no-repeat;}
            }
            
             /* ----------------- 베스트리뷰 ------------------*/
            .bestreview_box{width: 100%;height: 418px;overflow: hidden;position: relative;
                 >button{width: 45px;height:100%;background-color:transparent; position: absolute;bottom: 0;}
                >.btn_01{background-image:  url("../img/article/sub_community/commnunity_arrleft.png");background-repeat: no-repeat;float: left;cursor: pointer;left: 0;}
                >.btn_02{background-image:  url("../img/article/sub_community/commnunity_arrright.png");background-repeat: no-repeat;background-position: center;cursor: pointer;right: 0;}
            
             >ul{width: 300%;height: 100%;margin-left: -100%;
                >li{width: calc(100% / 3);height:100%;float: left;background-repeat: no-repeat;background-position: center;
                }//li
                >.bestreview_1{background-image:url("../img/article/sub_community/commnunity_1.png");background-size: 100%; }
                >.bestreview_2{background-image:url("../img/article/sub_community/commnunity_2.png");background-size: 100%; }
                >.bestreview_3{background-image:url("../img/article/sub_community/commnunity_3.png");background-size: 100%; }
                    
            }//ul
            }//.bestreview_box
            
            /* ----------------- 포토리뷰 ------------------*/
            .photoreview_box{width: 100%;height: 1150px;margin-top: 88px;
                 >h4{width: 100%;height: 58px; background-image: url(../img/article/sub_community/title_photoreview.png);margin-bottom:30px;background-size: 100%; background-repeat: no-repeat;}
                >ul{width: 90%;height: 1000px;margin: 0 auto;
                >li{width: 360px;height: 445px; float: left;background-repeat: no-repeat;background-position: center;margin-left: 40px;margin-bottom: 30px;
                }//li
                >.photoreview_1{background-image:url("../img/article/sub_community/community_img/community_img1.png");background-size: 100%;margin-left: 0;background-color: #fa0;}
                >.photoreview_2{background-image:url("../img/article/sub_community/community_img/community_img2.png");background-size: 100%;background-color: #fa0;}
                >.photoreview_3{background-image:url("../img/article/sub_community/community_img/community_img3.png");background-size: 100%;margin-left: 0;background-color: #fa0; }
                >.photoreview_4{background-image:url("../img/article/sub_community/community_img/community_img4.png");background-size: 100%;background-color: #fa0; }
                >.photoreview_5{background-image:url("../img/article/sub_community/community_img/community_img5.png");background-size: 100%; margin-left: 0;background-color: #fa0;}
                >.photoreview_6{background-image:url("../img/article/sub_community/community_img/community_img6.png");background-size: 100%;background-color: #fa0;}
            }//ul
            >.more_btn{width: 100%;height: 65px;background-image: url(../img/article/sub_community/title_pluse.png);background-repeat: no-repeat;background-position: center;cursor: pointer;transition: all 1s;background-size: 100%;background-color: transparent;
                    &:hover{background-image: url(../img/article/sub_community/title_pluse_hover.png);background-repeat: no-repeat;background-position: center;}
            }
         }//.photoreview_box
            
    }//#articleWrap
}//#article_bg
/*---------footer--------------*/
    #footerWrap_box{width: 100%;min-width: 60rem; height:18.5rem;background-color: rgba(#e496a1,.6);
        >#footerWrap{width:938px;height:100%;margin: 0 auto;
            >ul{width: 100%;height: 100%;
             >.sns{width:100%;height:5rem;
                 >h3{width: 6.25rem;height: 1.875rem;margin:1.875rem 1.875rem 0 31.25rem;float: left;background-image: url(../img/footer/sns.png);background-repeat: no-repeat;background-size: 90%;}
                 >ul{width: 100%;height: 100%;min-height: 5rem;margin-right: 1.25rem;background-color: rgba(#e496a1,.2);box-shadow: .03125rem .03125rem .125rem;
                     >li{width: 25%;height: 100%;float: left;margin-right: 0.9375rem;margin-top: 1.125rem;}//li
                     >.kakao{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_kakao.png");
                        &:hover{background-image: url(../img/footer/icon_kakao_on.png);transition: .4s ease-in-out;}
                     }
                     >.twitter{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_tw.png");
                        &:hover{background-image: url(../img/footer/icon_tw_on.png);transition: .4s ease-in-out;}
                     }
                     >.facebook{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_face.png");
                        &:hover{background-image: url(../img/footer/icon_face_on.png);transition: .4s ease-in-out;}
                     }
                     >.instagram{width: 2.875rem;height: 2.75rem; background-image: url("../img/footer/icon_insta.png");
                        &:hover{background-image: url(../img/footer/icon_insta_on.png);transition: .4s ease-in-out;}
                     }
                 }//ul
                }//.sns
             >.footer_box{width:59.25rem;height:3.4375rem;padding: 2.1875rem 0.025rem 1.875rem; margin: 0 auto;
                 >h3{width: 7.0625rem;height: 2.8125rem;float: left;background-image: url(../img/footer/able_logo.png);background-repeat: no-repeat;}//h3
                 >#addBox{height: 11.375rem;width:35.3125rem;margin-left: 2.8125rem;float: left;
                     >ul{width: 100%;height: 100%;
                         >li{margin-bottom: 1.1875rem;color: #555;font-size: 0.875rem;
                             address>p{color: #555;margin-bottom: 0.2rem;
                                 >strong{font-weight: bold;color: #555;}
                             }
                         }
                     }
                 }//#addBox
             }//.footer_box
            }//ul
        }//#footerWrap
    }//#footerWrap_box