* { margin: 0; padding: 0; border: 0; font-family: sans-serif; }

#container { background-color: #2b2b2b; }

/*#container{background-image: url(../img/article/bg2.png);background-repeat: round;}*/
#indicator_box .indWidth { box-shadow: 2px 2px 2px #515151; background-color: #ef4025 !important; width: 1.5rem !important; }

/* HeadWrap */
#HeadWrap { width: 100%; height: 120px; overflow: hidden; background-color: #fff; }
#HeadWrap > #Headbox { width: 100%; height: calc(100% - 8px); padding-top: 8px; position: relative; }
#HeadWrap > #Headbox > h1 { width: 150px; height: 68px; margin: 0 auto; background-image: url(../img/header/espoir_logo.png); background-repeat: no-repeat; }
#HeadWrap > #Headbox > h1 > a { width: 100%; height: 100%; display: block; }
#HeadWrap > #Headbox > .site_map { width: 270px; height: 32px; margin-right: 33px; position: absolute; top: 8px; right: 0; }
#HeadWrap > #Headbox > .site_map > ul { width: inherit; height: inherit; }
#HeadWrap > #Headbox > .site_map > ul > li { float: left; margin-right: 16px; }
#HeadWrap > #Headbox > .site_map > ul > .site_search { width: 150px; height: 22px; padding: 5px; background-color: #f1f1f1; border-radius: 8%; }
#HeadWrap > #Headbox > .site_map > ul > .site_search > form > fieldset > input { width: 106px; height: 22px; float: left; text-indent: 2px; }
#HeadWrap > #Headbox > .site_map > ul > .site_search > form > fieldset > button { width: 28px; height: 22px; background-image: url(../img/header/search_btn.png); background-repeat: no-repeat; float: left; margin-left: 5px; }
#HeadWrap > #Headbox > .site_map > ul > .site_login { width: 40px; height: 16px; margin-top: 7px; }
#HeadWrap > #Headbox > .site_map > ul > .site_login > a { background-image: url(../img/header/menu_login.png); background-repeat: no-repeat; }
#HeadWrap > #Headbox > .site_map > ul > .site_join { width: 30px; height: 16px; margin-right: 0; margin-top: 7px; }
#HeadWrap > #Headbox > .site_map > ul > .site_join > a { background-image: url(../img/header/menu_join.png); background-repeat: no-repeat; }
#HeadWrap > #Headbox > #gnb { width: 100%; height: 38px; background-color: #2b2b2b; margin-top: 8px; }
#HeadWrap > #Headbox > #gnb > ul { width: 860px; height: 22px; padding: 8px 50px; margin: 0 auto; }
#HeadWrap > #Headbox > #gnb > ul > li { float: left; height: 20px; margin-right: 105px; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_1 { width: 45px; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_1 > a { background-image: url(../img/header/menu_shop.png); background-repeat: no-repeat; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_1 > a:hover { background-image: url(../img/header/menu_shopOn.png); transition: .2s ease-in; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_2 { width: 56px; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_2 > a { background-image: url(../img/header/menu_protip.png); background-repeat: no-repeat; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_2 > a:hover { background-image: url(../img/header/menu_protipOn.png); transition: .2s ease-in; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_3 { width: 60px; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_3 > a { background-image: url(../img/header/menu_chance.png); background-repeat: no-repeat; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_3 > a:hover { background-image: url(../img/header/menu_chanceOn.png); transition: .2s ease-in; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_4 { width: 60px; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_4 > a { background-image: url(../img/header/menu_service.png); background-repeat: no-repeat; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_4 > a:hover { background-image: url(../img/header/menu_serviceOn.png); transition: .2s ease-in; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_5 { width: 56px; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_5 > a { background-image: url(../img/header/menu_review.png); background-repeat: no-repeat; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_5 > a:hover { background-image: url(../img/header/menu_reviewOn.png); transition: .2s ease-in; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_6 { width: 46px; margin-right: 0; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_6 > a { background-image: url(../img/header/menu_brand.png); background-repeat: no-repeat; }
#HeadWrap > #Headbox > #gnb > ul > .gnb_6 > a:hover { background-image: url(../img/header/menu_brandOn.png); transition: .2s ease-in; }

/* indexBanner */
#indexBannerWrap { width: 100%; height: 540px; background-color: #010101; }

#indexBanner { width: 960px; height: 540px; overflow: hidden; background-color: #f1f1f1; position: relative; margin: 0 auto; }
#indexBanner > button { width: 82px; height: 50px; background-color: transparent; position: absolute; left: 46%; }
#indexBanner > .btn_01 { background-image: url("../img/banner/banner_upbtn.png"); background-repeat: no-repeat; float: left; cursor: pointer; top: 0; }
#indexBanner > .btn_01:hover { background-image: url(../img/banner/banner_upbtnOn.png); transition: .6s ease-in; }
#indexBanner > .btn_02 { background-image: url("../img/banner/banner_downbtn.png"); background-repeat: no-repeat; float: left; cursor: pointer; bottom: 0; }
#indexBanner > .btn_02:hover { background-image: url(../img/banner/banner_downbtnOn.png); transition: .6s ease-in; }
#indexBanner > ol { width: 10rem; height: 1.25rem; position: absolute; bottom: 22px; left: 3.5%; z-index: 20; float: left; }
#indexBanner > ol > li { width: 20px; height: 20px; float: left; margin-right: 10px; }
#indexBanner > ol > .indicator_1 { width: 20px; height: 20px; background-color: #f1f1f1; cursor: pointer; border-radius: 50%; }
#indexBanner > ol > .indicator_2 { width: 20px; height: 20px; background-color: #f1f1f1; cursor: pointer; border-radius: 50%; }
#indexBanner > ol > .indicator_3 { width: 20px; height: 20px; background-color: #f1f1f1; cursor: pointer; border-radius: 50%; }
#indexBanner > ol > .indicator_4 { width: 20px; height: 20px; background-color: #f1f1f1; cursor: pointer; border-radius: 50%; }
#indexBanner > ul { width: 100%; height: 500%; margin-top: -540px; overflow: hidden; }
#indexBanner > ul > li { width: 100%; height: calc(100% / 5); }
#indexBanner > ul > li > img { width: 100%; height: 100%; }

/* indexContentBox */
#indexContentBox { width: 100%; height: 1762px; }
#indexContentBox > .indexContent { width: 100%; }
#indexContentBox > .indexContent > .in_product { width: 960px; height: 314px; margin: 0 auto; }
#indexContentBox > .indexContent > .in_product > ul > li { height: 314px; float: left; }
#indexContentBox > .indexContent > .in_product > ul > .in_product1 { width: 479px; }
#indexContentBox > .indexContent > .in_product > ul > .in_product1 > a { background-image: url(../img/article/product/product1.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_product > ul > .in_product1 > a:hover { background-image: url(../img/article/product/product1_on.png); transition: .6s ease-in-out; }
#indexContentBox > .indexContent > .in_product > ul > .in_product2 { width: 481px; }
#indexContentBox > .indexContent > .in_product > ul > .in_product2 > a { background-image: url(../img/article/product/product2.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_product > ul > .in_product2 > a:hover { background-image: url(../img/article/product/product2_on.png); transition: .6s ease-in-out; }
#indexContentBox > .indexContent > .in_brand { width: calc(960px - 80px); height: 234px; padding: 48px 40px; background-color: #fff; margin: 0 auto; }
#indexContentBox > .indexContent > .in_brand > ul > li { width: 244px; height: 242px; float: left; margin-right: 74px; }
#indexContentBox > .indexContent > .in_brand > ul > .in_brand1 > a { background-image: url(../img/article/brand/brand1.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_brand > ul > .in_brand1 > a:hover { background-image: url(../img/article/brand/brand1_on.png); transition: .8s ease-in-out; }
#indexContentBox > .indexContent > .in_brand > ul > .in_brand2 > a { background-image: url(../img/article/brand/brand2.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_brand > ul > .in_brand2 > a:hover { background-image: url(../img/article/brand/brand2_on.png); transition: .8s ease-in-out; }
#indexContentBox > .indexContent > .in_brand > ul > .in_brand3 { margin-right: 0; }
#indexContentBox > .indexContent > .in_brand > ul > .in_brand3 > a { background-image: url(../img/article/brand/brand3.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_brand > ul > .in_brand3 > a:hover { background-image: url(../img/article/brand/brand3_on.png); transition: .8s ease-in-out; }
#indexContentBox > .indexContent > .in_etc { width: 960px; height: 220px; margin: 0 auto; }
#indexContentBox > .indexContent > .in_etc > ul > li { height: 220px; float: left; }
#indexContentBox > .indexContent > .in_etc > ul > .in_etc1 { width: 373px; }
#indexContentBox > .indexContent > .in_etc > ul > .in_etc1 > a { background-image: url(../img/article/etc/etc1.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_etc > ul > .in_etc1 > a:hover { background-image: url(../img/article/etc/etc1_on.png); transition: .8s ease-in; }
#indexContentBox > .indexContent > .in_etc > ul > .in_etc2 { width: 240px; }
#indexContentBox > .indexContent > .in_etc > ul > .in_etc2 > a { background-image: url(../img/article/etc/etc2.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_etc > ul > .in_etc3 { width: 347px; }
#indexContentBox > .indexContent > .in_etc > ul > .in_etc3 > a { background-image: url(../img/article/etc/etc3.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_etc > ul > .in_etc3 > a:hover { background-image: url(../img/article/etc/etc3_on.png); transition: .8s ease-in; }
#indexContentBox > .indexContent > .in_movie { width: 960px; height: 500px; margin: 0 auto; }
#indexContentBox > .indexContent > .in_contact { width: 100%; height: 415px; background-color: #010101; }
#indexContentBox > .indexContent > .in_contact > ul { width: calc(100% - 552px); height: 152px; padding: 10px 276px; background-color: #010101; }
#indexContentBox > .indexContent > .in_contact > ul > li { margin: 0 auto; }
#indexContentBox > .indexContent > .in_contact > ul > li > span { width: 0; height: 0; display: block; overflow: hidden; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_title { width: 150px; height: 28px; background-image: url(../img/article/contact/contact_title.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_txt { width: 410px; height: 60px; margin-top: 20px; background-image: url(../img/article/contact/contact_txt.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_sns { width: 152px; height: 33px; margin-top: 12px; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_sns > ul > li { width: 34px; height: 33px; float: left; margin-right: 25px; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_sns > ul > .sns_icon1 > a { background-image: url(../img/article/contact/contact_t.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_sns > ul > .sns_icon1 > a:hover { background-image: url(../img/article/contact/contact_ton.png); transition: .5s ease-in; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_sns > ul > .sns_icon2 > a { background-image: url(../img/article/contact/contact_f.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_sns > ul > .sns_icon2 > a:hover { background-image: url(../img/article/contact/contact_fon.png); transition: .5s ease-in; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_sns > ul > .sns_icon3 { margin-right: 0; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_sns > ul > .sns_icon3 > a { background-image: url(../img/article/contact/contact_i.png); background-repeat: no-repeat; }
#indexContentBox > .indexContent > .in_contact > ul > .in_contact_sns > ul > .sns_icon3 > a:hover { background-image: url(../img/article/contact/contact_ion.png); transition: .5s ease-in; }
#indexContentBox > .indexContent > .in_contact > .espoir_map { width: 100%; height: 242px; background-color: #ddd; }

/* FootWrap */
#FootWrap { width: 100%; height: 90px; background-color: #f1f1f1; }
#FootWrap > #Foot { width: 876px; height: calc(100% - 20px); margin: 0 auto; padding: 10px 42px; }
#FootWrap > #Foot > ul > li { width: 100%; }
#FootWrap > #Foot > ul > .addBox1 { width: 100%; height: 20px; margin-bottom: 10px; }
#FootWrap > #Foot > ul > .addBox1 > ul { width: 100%; height: 20px; }
#FootWrap > #Foot > ul > .addBox1 > ul > li { height: 20px; float: left; margin-right: 120px; }
#FootWrap > #Foot > ul > .addBox1 > ul > li > a { background-position: center; }
#FootWrap > #Foot > ul > .addBox1 > ul > .foo_menu1 { width: 36px; margin-left: 10px; }
#FootWrap > #Foot > ul > .addBox1 > ul > .foo_menu1 > a { background-image: url(../img/footer/foo_menu1.png); background-repeat: no-repeat; }
#FootWrap > #Foot > ul > .addBox1 > ul > .foo_menu2 { width: 74px; }
#FootWrap > #Foot > ul > .addBox1 > ul > .foo_menu2 > a { background-image: url(../img/footer/foo_menu2.png); background-repeat: no-repeat; }
#FootWrap > #Foot > ul > .addBox1 > ul > .foo_menu3 { width: 140px; }
#FootWrap > #Foot > ul > .addBox1 > ul > .foo_menu3 > a { background-image: url(../img/footer/foo_menu3.png); background-repeat: no-repeat; }
#FootWrap > #Foot > ul > .addBox1 > ul > .foo_menu4 { width: 88px; }
#FootWrap > #Foot > ul > .addBox1 > ul > .foo_menu4 > a { background-image: url(../img/footer/foo_menu4.png); background-repeat: no-repeat; }
#FootWrap > #Foot > ul > .addBox1 > ul > .foo_menu5 { width: 37px; margin-right: 0; }
#FootWrap > #Foot > ul > .addBox1 > ul > .foo_menu5 > a { background-image: url(../img/footer/foo_menu5.png); background-repeat: no-repeat; }
#FootWrap > #Foot > ul > .addBox2 { width: 100%; height: 40px; }
#FootWrap > #Foot > ul > .addBox2 > address { font-size: 0.778rem; }
#FootWrap > #Foot > ul > .addBox2 > address > p { color: #555; margin-bottom: 0.5rem; color: #a1a1a1; }
#FootWrap > #Foot > ul > .addBox2 > address > p > strong { font-weight: bold; color: #999; }

/*@import "./src/_index_pc.scss";
@import "./src/_index_tab_h.scss";
@import "./src/_index_tab_v.scss";
@import "./src/_index_mob_h.scss";
@import "./src/_index_mob_v.scss";*/

/*# sourceMappingURL=index.css.map */
