@import "./lib/_scss_basic.scss";
@import "./src/_index_all.scss";
@import "./src/_index_pc.scss";
@import "./src/_index_tab_h.scss";
@import "./src/_index_tab_v.scss";
@import "./src/_index_mob_h.scss";
@import "./src/_index_mob_v.scss";

//index.scss

