/* cw_sub1_2.css */

@import url("./cwHeadWrap2.css");
@import url("./sub1_sideNavi.css");
@import url("./cwFootWrap.css");


/*sub1_2Content.css*/

/*----------------section_-----------------------*/
#section_bg{width: 100%;height: auto;background-image: url(../img/images/sub_brand/sub1/section_bg.png);overflow: hidden;}
#section{width: 890px;height: 100%; margin: 0 auto;background-color: #fff;}

.sideNavi_header{width: 100%;height: 46px; margin-bottom: 25px; background-image: url(../img/images/sub_brand/sub1/sub1_2/sub_navhead1_2.png);background-repeat: no-repeat;}

/*---sectionContent---*/
#sectionContent{width: 100%;height:auto;border: 1px solid #eef;box-shadow: 0 1px 5px; background-color: #fff;margin-top: 100px;}
#sectionCon_header{width:inherit;height: 233px;background-image: url(../img/images/sub_brand/sub1/sub1_2/sub1_2head.png);background-repeat: no-repeat;background-position:center;}
#sectionCon_img{width:inherit;height: 240px;margin-top: 15px;background-image: url(../img/images/sub_brand/sub1/sub1_img.png);background-repeat: no-repeat;background-position:center; }
#sectionCon_body{width:inherit;height: 443px;background-image: url(../img/images/sub_brand/sub1/sub1_2/sub1_2.png);background-repeat: no-repeat;background-position: center;margin-top: 20px;margin-bottom: 100px;}

