/* cw_sub2.css */

@import url("./cwHeadWrap2.css");
@import url("./sub3_sideNavi.css");
@import url("./cwFootWrap.css");


/*sub2Content.css*/

/*----------------section_-----------------------*/
#section_bg{width: 100%;height: auto;background-image: url(../img/images/sub_community/sub2/section_bg.png);}
#section{width: 890px;height: 100%; margin: 0 auto;background-color: #fff;}

.sideNavi_header{width: 100%;height: 46px; margin-bottom: 25px; background-image: url(../img/images/sub_community/sub2/sub_navhead2.png);background-repeat: no-repeat;}

/*---sectionContent---*/
#sectionContent{width: 100%;height: auto;border: 1px solid #eef;box-shadow: 0 1px 5px; background-color: #fff;margin-top: 100px;}
#sectionCon_header{width:inherit;height: 233px;background-image: url(../img/images/sub_community/sub2/sub2_head.png);background-repeat: no-repeat;background-position:center; }
#sectionCon_img{width:inherit;height: 240px;margin-top: 15px;background-image: url(../img/images/sub_community/sub2/sub2_img.png);background-repeat: no-repeat;background-position:center; }


#sectionCon_body{width:90%;height: auto; margin-top: 40px;margin-bottom: 100px;margin-left: 50px;font-weight: .825rem;letter-spacing:0.06rem; }

/*accodion_width*/
.accodion_width{width:100%;height: 500px;margin-top: 50px; margin: 0 auto;}
.accodion_width>div{width: auto;height: 100%;float: left;text-align: center; line-height: 500px; color: #fff;font-weight: bold;font-size: 1.5em;}
.reviewBox1{background-color: #DD4A47;}
.reviewBox1>dl>dd{background-image: url(../img/images/sub_community/sub2/textimg_1.png);background-repeat: no-repeat;}
.reviewBox2{background-color:#EE744D;}
.reviewBox2>dl>dd{background-image: url(../img/images/sub_community/sub2/textimg_2.png);background-repeat: no-repeat;}
.reviewBox3{background-color: #EBC85F;}
.reviewBox3>dl>dd{background-image: url(../img/images/sub_community/sub2/textimg_3.png);background-repeat: no-repeat;}

.accodion_width>div>dl{width: 100%;height: 100%;overflow: hidden;}
.accodion_width>div>dl>dt{width: 70px;height: 100%;float:left;background-color: rgba(0,0,0,0.3);font-size: 1.2rem;color: #fff;text-align: center;line-height: 120px;}
.accodion_width>div>dl>dd{width: 0;height: 100%;float:left;text-align: center;font-size: 0.7rem;transition: all 0.3s;}

.accodion_width>div>dl>dd.widthView{width: 580px;}

/* 베스트리뷰 */
.best_review{width: 100%;height: auto;margin-top: 70px; }
.best_review>h3{width: 100%;height: 40px; background-image: url(../img/images/sub_community/sub2/bestreview_title.png);background-repeat: no-repeat;margin-bottom: 25px;}
.best_review>ul{width: 100%;height: 336px;}
.best_review>ul>li{width: 32%;height: 100%;float: left;margin-left: 10px;}
.best_review>ul>li>a{width: 100%;height: 100%;display: block;background-position: center;background-repeat: no-repeat;background-size: 100%;}

.best_review>ul>.best_content1>a{background-image: url(../img/images/sub_community/sub2/best_content1.png);margin-left: 0;}
.best_content2>a{background-image: url(../img/images/sub_community/sub2/best_content2.png);}
.best_content3>a{background-image: url(../img/images/sub_community/sub2/best_content3.png);}

/* 전체리뷰 */
.review{width: 100%;height: 470px;margin-top: 70px;position: relative; }
.review>h3{width: 100%;height: 40px; background-image: url(../img/images/sub_community/sub2/review_title.png);background-repeat: no-repeat;margin-bottom: 25px;}
.registered_btn{width: 98px;height: 28px;float: right;background-size: 100%; background-color: transparent;background-image: url(../img/images/sub_community/sub2/review_btn.png);background-repeat: no-repeat;position: absolute;top: 0;right: 0;cursor: pointer;transition: all .8s;}
.registered_btn:hover{background-image: url(../img/images/sub_community/sub2/review_btn_on.png);background-repeat: no-repeat;}

.review>ul{width: 100%;height: 336px;}
.review>ul>li{width: 32%;height: 100%;float: left;margin-left: 10px;}
.review>ul>li>a{width: 100%;height: 100%;display: block;background-position: center;background-repeat: no-repeat;background-size: 100%;}

.review>ul>.review_content1>a{background-image: url(../img/images/sub_community/sub2/content1.png);margin-left: 0;}
.review_content2>a{background-image: url(../img/images/sub_community/sub2/content2.png);}
.review_content3>a{background-image: url(../img/images/sub_community/sub2/content3.png);}

.review>ul>.review_content4>a{background-image: url(../img/images/sub_community/sub2/content4.png);margin-left: 0;}
.review_content5>a{background-image: url(../img/images/sub_community/sub2/content5.png);}
.review_content6>a{background-image: url(../img/images/sub_community/sub2/content6.png);}

.plus_btn{width: 506px;height: 30px;background-size: 100%; background-color: transparent;background-image: url(../img/images/sub_community/sub2/plus_btn.png);background-repeat: no-repeat;position: absolute;bottom: 0;left: 18%; cursor: pointer;transition: all .8s;}
.plus_btn:hover{background-image: url(../img/images/sub_community/sub2/plus_btn_hover.png);}






























