/*cwFootWrap.css*/



/*----------------footer-----------------------*/

#footerWrap{width:100%;height: 140px;}
#footerWrap>ul{width: 100%;height: 100%;}
#footerWrap>#footer_nv{width: 100%;background-image: url(../img/images/footer/footer_bg.png);background-repeat: no-repeat;background-size: 100% 48px;}
#footerWrap>#footer_nv>ul{width: 960px;height: 48px;margin: 0 auto;}
#footerWrap>#footer_nv>ul>li{width: 20%;height: 100%;float: left;margin-top: 15px;margin-left: 18px}
#footerWrap>#footer_nv>ul>li>a{background-image: url(../img/images/footer/footer_n.png);}
#footerWrap>#footer_nv>ul>.foo_nv01{width: 132px;height: 18px;margin-left:70px;}
#footerWrap>#footer_nv>ul>.foo_nv02{width: 140px;height: 18px;}
#footerWrap>#footer_nv>ul>.foo_nv03{width: 85px;height: 18px;}
#footerWrap>#footer_nv>ul>.foo_nv04{width: 96px;height: 18px;margin-left: 330px;}

#footerWrap>#footer_nv>ul>.foo_nv01>a{ width: 98px;height: 18px;background-position: -81px -5px;}
#footerWrap>#footer_nv>ul>.foo_nv02>a{ width: 106px;height: 18px;background-position: -193px -5px;}
#footerWrap>#footer_nv>ul>.foo_nv03>a{width: 58px;height: 18px;background-position: -16px -5px;}
#footerWrap>#footer_nv>ul>.foo_nv04>a{width: 62px; height: 18px;background-position: -388px -5px;}

#footerWrap>#footer_nv>ul>li>a{background-position: center;float:left;}
#footer_nv>ul>li a+span{width: 1px;height: 14px;display: block;background-image: url(../img/images/footer/footer_br.png);background-repeat: no-repeat;float:left;margin-left: 26px;margin-top: 2px;}


#footerbox {width: 100%;height: 92px;padding: 12px; margin: 0 auto;}
#footerbox_wrap{width: 960px;margin: 0 auto;}
#addBox {width: 100%;height: 92px; margin: 0 auto;font-size: 0.8rem;}
#addBox>h3 {width: 92px;height: 64px;float: left;background-image: url("../img/images/footer/footer_logo.png");background-repeat: no-repeat;background-position: center bottom;background-size: 75%;margin: -5px 15px 0 24px;}
#addBox>h3>span {width: 0;height: 0;overflow: hidden;display: block;}

#cw_icon{width: 116px;height: 48px;float: right;margin-top: -90px;margin-right: 10%;}
#cw_icon>ul{width: 100%;height: 100%;}
#cw_icon>ul>li{width: 50%;height: 100%;float: left;background-repeat: no-repeat;margin-left: 5px;}
#cw_icon>ul>li>a{background-image: url(../img/images/footer/footer_btn.png);}
#cw_icon>ul>.ficon_01{width: 52px;height: 42px;}
#cw_icon>ul>.ficon_02{width: 52px;height: 42px;}
#cw_icon>ul>.ficon_01>a{ width: 46px;height: 44px;background-position: -117px -5px;}
#cw_icon>ul>.ficon_02>a{width: 46px;height: 44px;background-position: -5px -5px;}

#cw_icon>ul>.ficon_01>a:hover{width: 46px;height: 44px; background-position: -173px -5px;transition:all .3s ease-in;}

#cw_icon>ul>.ficon_02>a:hover{width: 46px; height: 44px;background-position: -61px -5px;transition:all .3s ease-in;}



