/*T_indexarticle.css*/

/*--------------------------articleWrap---------------------------------------*/
#article_bg{width: 100%;height: auto;margin: 0 auto;background-image: url(../img/article/bg.png);}
        #articleWrap{width: 948px;height:auto;background-color:#fff;padding-bottom: 10px;margin: 0 auto;box-shadow: .5px 0 2px;}
            .item{margin:25px 0;}
            .item_title{width: inherit;height: inherit;margin-bottom: 50px;}

             .item_title>ul>li{width: 33.333333%;height: 100%;float: left;}
             .item_title span{width: 100%;height: 18px;display: block;background-image: url(../img/line.png);background-repeat: no-repeat;background-position: center;float:left;}
/*background-color:rgba(232,194,141,0.3);*/
/*---------------------best_item------------------- */
            #best_item{width: 100%; height:auto;}
            .bestitem_title{width: 100%;height: 26px;background-position: center; background-image: url(../img/article/index_title_bestitem.png);background-repeat: no-repeat;margin-bottom: 40px;}
            #best_item_image{width: 750px;height: 230px;background-image: url(../img/article/bg.png);background-position: center;box-shadow: 2px 2px 10px; margin: 0 auto;}
            #best_item_image>ul{width: 100%;height: 100%;}
            #best_item_image>ul>li{width: 33.33333%;height: 100%;float: left;margin-left: 20px;margin-top: 12px;}
            #best_item_image>ul>li>a{}
            #best_item_image>ul>.best_01{width: 225px;height: 225px; background-image: url("../img/article/image_1.png");background-repeat: no-repeat;-webkit-transform: scale(0.9);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}
            #best_item_image>ul>.best_02{width: 225px;height: 225px;background-image: url("../img/article/image_2.png");background-repeat: no-repeat;-webkit-transform: scale(0.9);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}
            #best_item_image>ul>.best_03{width: 225px;height: 225px; background-image: url("../img/article/image_3.png");background-repeat: no-repeat; -webkit-transform: scale(0.9);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;margin-right: 0;}
            #best_item_image>ul>.best_01>a{}
            #best_item_image>ul>.best_02>a{}
            #best_item_image>ul>.best_03>a{}
            #best_item_image>ul>.best_01:hover{-webkit-transform: scale(1);transform: scale(1);}
            #best_item_image>ul>.best_02:hover{-webkit-transform: scale(1);transform: scale(1);}
            #best_item_image>ul>.best_03:hover{-webkit-transform: scale(1);transform: scale(1);}
/*--------------------review--------------------------*/
            #movie{width: 100%; height: auto; min-height:100px;}
             .movie_title{width: 100%;height: 26px;background-position: center; background-image: url(../img/article/index_apieu_movie_title.png);background-repeat: no-repeat;margin-bottom: 40px;	}
            #movie_bg{width: 100%;height: 257px;padding-top: 18px;background-image: url(../img/article/index_movie_bg.png);background-repeat: no-repeat;}
           
            #movie_box{width: 642px;height: 216px;background-color: #fff;border: 4px solid #645622;margin: 0 auto;padding: 6px;}
            #movie_box>li{float: left;height: 210px;}
            .movie_box_img{width: 370px;height: 210px;background-image: url(../img/article/index_movie_img.png);background-repeat: no-repeat;float: left;}
            .movie_box_content{width: 210px;height: 210px;float: left;margin-left: 10px;}
            .movie_con_txt>h4{width: 188px;height: 66px;background-image: url(../img/article/index_movie_txt.png);margin-top: 8px;}
            .movie_con_txt>button{width: 130px;height: 28px;background-image: url(../img/article/index_movie_btn.png);background-repeat: no-repeat;margin: 15px 0;cursor: pointer;}
            .movie_con_img{width: 185px;height: 72px;background-image: url(../img/article/index_movie_img2.png);}
           
/*---------------------------etc----------------------*/
#etc{width: 958px;height: 230px;}
#etc>ul{width: 100%;height: 100%;}
#etc>ul>li{float: left;margin-left: 15px;}

/*-----news------*/
#news{height:240px;margin-left:42px;}
#news>ul{width: 100%;height: 100%;}
.news_title{width: 100%;height: 26px;background-position: left; background-image: url(../img/article/index_title_news.png);background-repeat: no-repeat;margin-bottom: 10px;margin-left: 16px;}

#news>.item_title>ul>li{width: 50%;height: 100%;float: left;}
#news_content{width: 445px;height:154px;margin-left: 16px; }

#news_content>ul{width: 100%;height: 100%;}
#news_content>ul>li{width: 50%;height: 100%;float: left;margin-top: 5px;}
#news_content>ul>.news_image{width: 220px;height: 154px;background-image: url("../img/article/img_apieu.png")}
#news_content>ul>.news_txt{width: 194px;height: 150px;}
#news_content>ul>.news_txt>ul{width: 100%;height: 100%;margin-left: 26px;}
#news_content>ul>.news_txt>ul>li{list-style:disc;line-height:2em;}

/*----membership_store---------*/
#membership_store{height:auto;position: relative;}
#membership_store>ul{width: 100%;height: 100%;margin:30px 30px 60px}
#membership_store>ul>li{width: 50%;height: 100%;float: left;margin-top: 5px;margin-left: 16px;}
#membership_store>ul>li>a{width: inherit;height: inherit;}
#membership_store>ul>.membership_card{width: 182px;height: 166px;background-image: url("../img/article/card.png")}
        #membership_store>ul>.membership_card>button{width: 130px;height: 28px;background-color:#fff;cursor: pointer;box-shadow: 1px 0 2px;}
        .btn_01{margin-top: 108px; margin-left: 24px; background-image:  url("../img/article/button_1.png");background-repeat: no-repeat;background-position: center; float: left;}
#membership_store>ul>.store{width: 182px;height: 166px;background-image: url("../img/article/store.png")}
        #membership_store>ul>.store>button{width: 130px;height: 28px;background-color:#fff;cursor: pointer;box-shadow: 1px 0 2px;}
        .btn_02{margin-top: 108px; margin-left: 24px; background-image:  url("../img/article/button_2.png");background-repeat: no-repeat;background-position: center;float: left;}
#membership_store>ul>.membership_card:hover{background-image: url(../img/article/membership_bg.png);background-repeat: no-repeat;transition: .5s ease-in-out; }
#membership_store>ul>.store:hover{background-image: url(../img/article/store_bg.png);background-repeat: no-repeat;transition: .5s ease-in-out;}
