// mobile_v

@media screen and (max-width:480px){

*{margin: 0;padding: 0;border: 0; font-family: sans-serif;}
//*:focus{outline: 2px solid $sub2;}
#container{background-color: $main;overflow: hidden;position: relative;}
#indicator_box .indWidth{box-shadow:2px 2px 2px #515151;background-color:$sub !important; width: 1rem !important;}

.menu_btnBox{
    >.menubar1{transform: rotate(52deg) translate(15px,0);transition: 0.5s ease-in;}    
    >.menubar2{transform: rotate(-50deg) translate(8px,5px); transition: 0.5s ease-in;}        
    >.menubar3{display: none; }                                        
    >.menu_nav{width:100vw;height: auto;display: block;background-color: $main;position: absolute;top:6rem !important;right: -10vw !important; z-index: 900;box-shadow: 1px 1px 1px $sub2;
             >dt{width: 100%;height: 8vw;
                >a{width: 100%;height: 100%;display: block;text-decoration: none;border-top: 1px solid #fff;transition:  all 0.3s;cursor: pointer;
                    >span{width: 100%;height: 100%; text-align: center;line-height:8vw;font-size: 1rem;font-weight: bold;color: $sub2;
                    &:hover{background-color: $sub2; color: #ef4025;}
                    }
                }
            }
            >dt:nth-child(7){width: 50%;height: 8vw;float: left;
                >a{width: 100%;height: 100%;display: block;border-top: 1px solid #fff;transition:  all 0.3s;cursor: pointer;background-image: url(../img/header/login_off.png);background-repeat: no-repeat;background-size:contain;background-position: center;
                    &:hover{background-color: $sub2;background-image: url(../img/header/login_on.png);background-repeat: no-repeat;}
                    >span{width: 0;height: 0;display: block;overflow: hidden;}
                }
            }
            >dt:last-child{width: 50%;height: 8vw;float: left;
                >a{width: 100%;height: 100%;display: block;border-top: 1px solid #fff;transition:  all 0.3s;cursor: pointer;background-image: url(../img/header/join_off.png);background-repeat: no-repeat;background-size:contain;background-position: center;
                    &:hover{background-color: $sub2;background-image: url(../img/header/join_on.png);background-repeat: no-repeat;}
                >span{width: 0;height: 0;display: block;overflow: hidden;}
                }
            }
    }
}/* .menu_btnBox(mob_toggleClass) */


#HeadWrap{width: 100%;height: auto;background-color: #fff;position: relative;
    >#Headbox{width: 100%;height: 110px;padding-top: 8px;
        >h1{width: 150px;height: 68px; margin: 0 auto; background-image: url(../img/header/espoir_logo.png);background-repeat: no-repeat;
            >a{width: 100%;height: 100%;display: block;}
        }
         >.site_map{width: 100%;height: 40px;position: absolute;left: 0;top:initial;background-color: $main;margin-top: 2px;
            >ul{width: 100%;height: 40px;
                >.site_search{width: 60vw;height: 20px;padding: 0.52vw; background-color:$sub2;border-radius: 2%;margin-left: 19%;margin-top:6px;
                    >form>fieldset>input{width: 49vw;height: 20px;float: left;text-indent: 2px;}
                    >form>fieldset>button{width: 28px;height: 20px;background-image: url(../img/header/search_btn.png);background-repeat: no-repeat;float: left;margin-left: 5px;}
                }
                >.site_login{width: 40px;height: 16px;margin-top: 7px;display: none;
                    >a{background-image: url(../img/header/menu_login.png);background-repeat: no-repeat;}}
                >.site_join{width: 30px;height: 16px;margin-right: 0;margin-top: 7px;display: none;
                >a{background-image: url(../img/header/menu_join.png);background-repeat: no-repeat;}
                }
            }
        } /*.site_map */      
        >.menu_btn{width: 4vw;height: 4vw;position: absolute;top: 14%;right: 10%;background-color: transparent;
            >div{width: 2.4rem;height: 0.525rem; margin-top: 1vw;background-color:  $main;border-radius: 15%;}
        }
        >#gnb{width: 100%;height: 38px;background-color: $main;margin-top: 8px;display: none;
            >ul{width: 89.583vw;height: 22px; padding: 8px 50px;margin: 0 auto;
                >li{float: left;height: 20px;margin-right:8.8vw;}
                >.gnb_1{width: 45px;
                    >a{background-image: url(../img/header/menu_shop.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_shopOn.png);transition: .2s ease-in;}}}
                >.gnb_2{width: 56px;
                    >a{background-image: url(../img/header/menu_protip.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_protipOn.png);transition: .2s ease-in;}}}
                >.gnb_3{width: 60px;
                    >a{background-image: url(../img/header/menu_chance.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_chanceOn.png);transition: .2s ease-in;}}}
                >.gnb_4{width: 60px;
                    >a{background-image: url(../img/header/menu_service.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_serviceOn.png);transition: .2s ease-in;}}}
                >.gnb_5{width: 56px;
                    >a{background-image: url(../img/header/menu_review.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_reviewOn.png);transition: .2s ease-in;}}}
                >.gnb_6{width: 46px;margin-right: 0;
                    >a{background-image: url(../img/header/menu_brand.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_brandOn.png);transition: .2s ease-in;}}}
            }//ul
        }//#gnb
    }//#Headbox
}//#HeadWrap

/* indexBanner */
#indexBannerWrap{width: 100%;height: 62vw; background-color: #010101;}
#indexBanner{width: 100vw;height: 100%; overflow: hidden;background-color: $sub2;position: relative;margin: 0 auto; 
    >button{width: 82px;height:50px;background-color:transparent; position: absolute;left: 46%;}
    >.btn_01{background-image:  url("../img/banner/banner_upbtn.png");background-repeat: no-repeat;float: left;cursor: pointer;top: 0;
        &:hover{background-image: url(../img/banner/banner_upbtnOn.png);transition: .6s ease-in;}
    }
    >.btn_02{background-image:  url("../img/banner/banner_downbtn.png");background-repeat: no-repeat;float: left;cursor: pointer;bottom: 0;
        &:hover{background-image: url(../img/banner/banner_downbtnOn.png);transition: .6s ease-in;}
    }
               
    >ol{width: 10rem;height: 1.25rem;position: absolute;bottom: 1.875vw;left: 3.5%; z-index: 20;float: left;
         >li{width: 2.3vw;height: 2.3vw;float: left;margin-right: 10px;
         }//li
         >.indicator_1{width: 2.3vw;height: 2.3vw;background-color:$sub2;cursor: pointer;border-radius: 50%;}
         >.indicator_2{width: 2.3vw;height: 2.3vw;background-color:$sub2;cursor: pointer;border-radius: 50%;}
         >.indicator_3{width: 2.3vw;height: 2.3vw;background-color:$sub2;cursor: pointer;border-radius: 50%;}
         >.indicator_4{width: 2.3vw;height:2.3vw;background-color:$sub2;cursor: pointer;border-radius: 50%;} 
     }//ol
     >ul{width: 100%;height: 500%;margin-top: -62vw;overflow: hidden;background-color: #010101;
         >li{width:100% ;height:calc(100% / 5);
             >img{width: 100%;height:100%;} 
         }//li
    }//ul
}//#indexBanner

/* indexContentBox */
#indexContentBox{width: 100%;height:auto;overflow: hidden;
    >.indexContent{width: 100%;
        >.in_product{width: 100vw;height: 32.70833vw;margin: 0 auto;
            >ul{
                >li{height: 32.70833vw;float: left;}
                >.in_product1{width: 49.8958vw;
                    >a{background-image: url(../img/article/product/product1.png);background-repeat: no-repeat;background-size: 100%;
                        &:hover{background-image: url(../img/article/product/product1_on.png);transition: .6s ease-in-out;background-size: 100%;}}
                }
                >.in_product2{width: 50.1041vw;
                     >a{background-image: url(../img/article/product/product2.png);background-repeat: no-repeat;background-size: 100%;
                        &:hover{background-image: url(../img/article/product/product2_on.png);transition: .6s ease-in-out;background-size: 100%;}}
                }
            }
        }
        >.in_brand{width: calc(100vw - 8.333vw);height:24.375vw;padding: 5vw 4.16666vw;background-color: #fff;margin: 0 auto;
            >ul{
                >li{width: 25.416vw;height: 25.2083vw;float: left;margin-right: 6vw;}
                >.in_brand1{
                 >a{background-image: url(../img/article/brand/brand1.png);background-repeat: no-repeat;background-size: 100%;
                        &:hover{background-image: url(../img/article/brand/brand1_on.png);transition: .8s ease-in-out;}}
                }
                >.in_brand2{
                     >a{background-image: url(../img/article/brand/brand2.png);background-repeat: no-repeat;background-size: 100%;
                        &:hover{background-image: url(../img/article/brand/brand2_on.png);transition: .8s ease-in-out;}}
                }
                >.in_brand3{margin-right: 0;
                     >a{background-image: url(../img/article/brand/brand3.png);background-repeat: no-repeat;background-size: 100%;
                        &:hover{background-image: url(../img/article/brand/brand3_on.png);transition: .8s ease-in-out;}}
                }
            }
        }
        >.in_etc{width: 100vw;height:74vw;
            >ul{
                >li{float: left;}
                >.in_etc1{width: 100vw;height: 50vw;
                >a{background-image: url(../img/article/etc/etc1.png);background-repeat: no-repeat;background-size: 100%;background-position: center;
                        &:hover{background-image: url(../img/article/etc/etc1_on.png);transition: .8s ease-in;}}
                }
                >.in_etc2{width: 36vw;height: 24vw;
                    >a{background-image: url(../img/article/etc/etc2.png);background-repeat: no-repeat;background-size: 100%;background-position: center;}
                }
                >.in_etc3{width: 64vw;height: 24vw;
                    >a{background-image: url(../img/article/etc/etc3.png);background-repeat: no-repeat;background-size: 100%;background-position: center;
                        &:hover{background-image: url(../img/article/etc/etc3_on.png);transition: .8s ease-in;}}
                }
            }
        }
        >.in_movie{width: 100vw !important;height: 52.0833vw !important; margin: 0 auto;overflow: hidden;display: none;}
        >.in_contact{width: 100%;height:38.5vw;background-color: #010101;
            >ul{width: calc(100% - 57.5vw);height:152px;padding: 10px 28.75vw;background-color: #010101; 
                >li{margin: 0 auto; 
                >span{width: 0;height: 0;display: block;overflow: hidden;}
                }
                >.in_contact_title{width: 15.625vw;height: 3vw;background-image: url(../img/article/contact/contact_title.png);background-repeat: no-repeat;background-size: 100%;}
                >.in_contact_txt{width: 90vw;height: 15vw;margin-top: 15px;margin-left: -58%; background-image: url(../img/article/contact/contact_txt.png);background-repeat: no-repeat;background-size:contain;}
                >.in_contact_sns{width: 152px;height: 33px;margin-top: 1vw;
                    >ul{
                        >li{width: 34px;height: 33px;float: left;margin-right: 25px;}
                        >.sns_icon1{
                             >a{background-image: url(../img/article/contact/contact_t.png);background-repeat: no-repeat;
                                &:hover{background-image: url(../img/article/contact/contact_ton.png);transition: .5s ease-in;}}    
                        }
                        >.sns_icon2{
                              >a{background-image: url(../img/article/contact/contact_f.png);background-repeat: no-repeat;
                                &:hover{background-image: url(../img/article/contact/contact_fon.png);transition: .5s ease-in;}}      
                        }
                        >.sns_icon3{margin-right: 0;
                                >a{background-image: url(../img/article/contact/contact_i.png);background-repeat: no-repeat;
                                    &:hover{background-image: url(../img/article/contact/contact_ion.png);transition: .5s ease-in;}}  
                        }
                    }
                }
            }
            >.espoir_map{width: 100%;height: 25.2083vw;background-color: #ddd;display: none;}
        }  
    }//.indexContent
}//#indexContentBox

/* FootWrap */
#FootWrap{width: 100%;height: 16vw; background-color: $sub2;
    >#Foot{width: 91.25vw;height: calc(100% - 20px);margin: 0 auto;padding: 10px 4.375vw;
        >.top_btn{width: 13vw;height: 5.5vw;margin-left:40%; background-color: transparent;background-image: url(../img/footer/top_btn.png);background-repeat: no-repeat;background-size: 100%;}
        >ul{
            >li{width: 100%;}
            >.addBox1{width: 100%;height: 20px;margin-bottom: 1.041vw;display: none;
                >ul{width: 100%;height: 20px;
                    >li{height: 2.0833vw;float: left;margin-right: 8.5vw;
                        >a{background-position: center;}
                    }
                    >.foo_menu1{width: 36px;margin-left: 10px;
                        >a{background-image: url(../img/footer/foo_menu1.png);background-repeat: no-repeat;}
                    }
                    >.foo_menu2{width: 74px;
                        >a{background-image: url(../img/footer/foo_menu2.png);background-repeat: no-repeat;}
                    }
                    >.foo_menu3{width: 140px;
                         >a{background-image: url(../img/footer/foo_menu3.png);background-repeat: no-repeat;}    
                    }
                    >.foo_menu4{width: 88px;
                        >a{background-image: url(../img/footer/foo_menu4.png);background-repeat: no-repeat;}
                    }
                    >.foo_menu5{width: 37px;margin-right: 0;
                       >a{background-image: url(../img/footer/foo_menu5.png);background-repeat: no-repeat;}
                    }
                }
            }
            >.addBox2{width: 100%;height: 4.16666vw;
                >address{font-size: 0.765rem;
                    >.address_txt{color: #555;margin-bottom: 0.5rem;margin-top: 0.5rem; color: #a1a1a1;display: block;text-align: center;
                        >strong{font-weight: bold;color: #999;}
                    }
                    >p{color: #555;margin-bottom: 0.5rem;color: #a1a1a1;display: none;
                        >strong{font-weight: bold;color: #999;}
                    }

                }
            }
        }
    }
}      
}