//pc
@media screen and (min-width:1025px){
*{margin: 0;padding: 0;border: 0; font-family: sans-serif;}
//*:focus{outline: 2px solid $sub2;}
  
.menu_btnBox{
    >.menubar1{transform: rotate(52deg) translate(15px,0);transition: 0.5s ease-in;}    
    >.menubar2{transform: rotate(-50deg) translate(8px,5px); transition: 0.5s ease-in;}        
    >.menubar3{display: none; }                                        
    >.menu_nav{width:100vw;height: auto;display: block;background-color: $main;position: absolute;top: 16.5vw;right: -3vw !important; z-index: 900;box-shadow: 1px 1px 1px $sub2;
             >dt{width: 100%;height: 8vw;
                >a{width: 100%;height: 100%;display: block;text-decoration: none;border-top: 1px solid #fff;transition:  all 0.3s;cursor: pointer;
                    >span{width: 100%;height: 100%; text-align: center;line-height:8vw;font-size: 1rem;font-weight: bold;color: $sub2;
                    &:hover{background-color: $sub2; color: #ef4025;}
                    }
                }
            }
            >dt:nth-child(8){width: 50%;height: 8vw;float: left;
                >a{width: 100%;height: 100%;display: block;border-top: 1px solid #fff;transition:  all 0.3s;cursor: pointer;background-image: url(../img/header/login_off.png);background-repeat: no-repeat;background-size:contain;background-position: center;
                    &:hover{background-color: $sub2;background-image: url(../img/header/login_on.png);background-repeat: no-repeat;}
                    >span{width: 0;height: 0;display: block;overflow: hidden;}
                }
            }
            >dt:last-child{width: 50%;height: 8vw;float: left;
                >a{width: 100%;height: 100%;display: block;border-top: 1px solid #fff;transition:  all 0.3s;cursor: pointer;background-image: url(../img/header/join_off.png);background-repeat: no-repeat;background-size:contain;background-position: center;
                    &:hover{background-color: $sub2;background-image: url(../img/header/join_on.png);background-repeat: no-repeat;}
                >span{width: 0;height: 0;display: block;overflow: hidden;}
                }
            }
        }
}/* .menu_btnBox(mob_toggleClass) */

 
/* HeadWrap */
#HeadWrap{width: 100%;height: auto;background-color: #fff;position: relative;
    >#Headbox{width: 100%;height: calc(100% - 8px);padding-top: 8px;overflow: hidden;
        >h1{width: 150px;height: 68px; margin: 0 auto; background-image: url(../img/header/espoir_logo.png);background-repeat: no-repeat;
            >a{width: 100%;height: 100%;display: block;}
        }
        >.site_map{width: 270px;height: 32px;margin-right: 33px;position: absolute;top: 8px;right: 0;
            >ul{width: inherit;height: inherit;
                >li{float: left;margin-right: 16px;}
                >.site_search{width: 150px;height: 22px;padding: 5px; background-color:$sub2;border-radius: 8%;
                    >form>fieldset>input{width: 106px;height: 22px;float: left;text-indent: 2px;}
                    >form>fieldset>button{width: 28px;height: 22px;background-image: url(../img/header/search_btn.png);background-repeat: no-repeat;float: left;margin-left: 5px;}
                }
                >.site_login{width: 40px;height: 16px;margin-top: 7px;
                    >a{background-image: url(../img/header/menu_login.png);background-repeat: no-repeat;}}
                >.site_join{width: 30px;height: 16px;margin-right: 0;margin-top: 7px;
                >a{background-image: url(../img/header/menu_join.png);background-repeat: no-repeat;}
                }
            }
        }//.site_map
        >.menu_btn{display: none;width: 45px;height: 40px;position: absolute;top: 2.2vw;right: 3vw;background-color: transparent;
            >div{width: 45px;height: 8px; margin-top: 1vw;background-color:  $main;border-radius: 15%;}
        }
        
        
        >#gnb{width: 100%;height: 38px;background-color: $main;margin-top: 8px;
            >ul{width: 860px;height: 22px; padding: 8px 50px;margin: 0 auto;
                >li{float: left;height: 20px;margin-right: 105px;}
                >.gnb_1{width: 45px;
                    >a{background-image: url(../img/header/menu_shop.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_shopOn.png);transition: .2s ease-in;}}}
                >.gnb_2{width: 56px;
                    >a{background-image: url(../img/header/menu_protip.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_protipOn.png);transition: .2s ease-in;}}}
                >.gnb_3{width: 60px;
                    >a{background-image: url(../img/header/menu_chance.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_chanceOn.png);transition: .2s ease-in;}}}
                >.gnb_4{width: 60px;
                    >a{background-image: url(../img/header/menu_service.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_serviceOn.png);transition: .2s ease-in;}}}
                >.gnb_5{width: 56px;
                    >a{background-image: url(../img/header/menu_review.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_reviewOn.png);transition: .2s ease-in;}}}
                >.gnb_6{width: 46px;margin-right: 0;
                    >a{background-image: url(../img/header/menu_brand.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_brandOn.png);transition: .2s ease-in;}}}
            }//ul
        }//#gnb
    }//#Headbox
}//#HeadWrap


/* reviewbannerWrap */
#reviewbannerWrap{width: 960px;height: 350px;background-image:  url("../img/sub/review/review_img.png");background-repeat: no-repeat;position: relative;margin: 0 auto; 
    >.view_btn{width: 340px;height:86px;background-color:transparent; position: absolute;cursor: pointer;bottom: 10%;right: 4%; background-image:  url("../img/sub/review/review_off.png");background-repeat: no-repeat;
        &:hover{background-image: url("../img/sub/review/review_on.png");transition: .6s ease-in;}
    }
}//#reviewbannerWrap

/* #reviewContentBox */
#reviewContentBox{width: 100%;height: auto;
    >.reviewContent{width: 960px;height: auto;margin: 0 auto;border-left: $line;border-right: $line;
        >h2{width: 896px;height: 20px;background-color: #fff;padding: 15px 32px;box-shadow: 1px 2px 3px #ccc;
            >span{width: 164px;height: 22px;display: block; background-image:  url("../img/sub/review/sub_review_title.png");background-repeat: no-repeat;background-size: 88%;}
            }
        >.best_review{width:870x;height:416px;padding: 0 45px;padding-top: 30px;
            >h3{width: 869px;height: 18px;margin: 0 auto;background-image: url("../img/sub/review/bestreview/bestreview_title.png");background-repeat: no-repeat;}
            >ul{margin-top: 26px;
                >li{width: 280px;height: 342px;float: left;margin-left: 15px;
                    >a{width: 100%;height: 100%;display: block;background-repeat: no-repeat;background-position: bottom;transition: .8s;
                        &:hover{background-position: top;}
                    }
                }
                >.best_review1{margin-left: 0;
                    >a{background-image: url("../img/sub/review/bestreview/bestreview_1.png");}
                }
                >.best_review2>a{background-image: url("../img/sub/review/bestreview/bestreview_2.png");}
                >.best_review3>a{background-image: url("../img/sub/review/bestreview/bestreview_3.png");}
            }
        }
        >.review{width:870x;height:830px;padding: 0 45px;padding-top: 30px;
            >h3{width: 869px;height: 18px;margin: 0 auto;background-image: url("../img/sub/review/review/review_title.png");background-repeat: no-repeat;}
            >#review_formbox{width: 100%;height: 35px;background-color: #000;margin-top: 26px;
                >form>fieldset>ul{width: 660px;height: 22px;margin: 0 auto;margin-top: 0.288vw;
                    >.search_review{float: left;margin-right: 10px;
                        >select{width: 135px;}
                    }
                    >.search_txt{float: left;margin-right: 25px;
                        >input{width: 365px;}
                    }
                    >.search_btn{float: left;width: 120px;height: 22px;
                        >button{width: 120px;height: 22px;background-color: transparent;background-image: url("../img/sub/review/review/rsearch_btn.png");background-repeat: no-repeat;}
                    }
                }
            }
            >.photoreview{width: 100%;height: 330px;margin-top: 24px;
                >h5{width: 70px;height: 12px;background-image: url("../img/sub/review/review/photoreview_title.png");background-repeat: no-repeat;}
                >.btn_box{width: 188px;height: 16px;float: right;margin-bottom: 8px;
                    >.more_btn{width: 90px;height: 16px;background-color:transparent;background-image: url("../img/sub/review/review/more_btn.png");background-repeat: no-repeat;margin-right: 4px;}
                    >.write_btn{width: 90px;height: 16px;background-color:transparent;background-image: url("../img/sub/review/review/write_btn.png");background-repeat: no-repeat;}
                }
                >ul{clear: both;
                    >li{width: 190px;height: 300px;float: left;margin-left: 36px;
                        >a{width: 100%;height: 100%;display: block;background-repeat: no-repeat;}
                    }
                    >.photoreview_1{margin-left: 0;
                        >a{background-image: url("../img/sub/review/review/photoreview_1.png");}
                    }
                    >.photoreview_2>a{background-image: url("../img/sub/review/review/photoreview_2.png");}
                    >.photoreview_3>a{background-image: url("../img/sub/review/review/photoreview_3.png");}
                    >.photoreview_4>a{background-image: url("../img/sub/review/review/photoreview_4.png");}
                }
            }
            >.review1{width: 100%;height: 330px;margin-top: 24px;
                >h5{width: 70px;height: 12px;background-image: url("../img/sub/review/review/review2_title.png");background-repeat: no-repeat;}
                >.btn_box{width: 188px;height: 16px;float: right;margin-bottom: 8px;
                    >.more_btn{width: 90px;height: 16px;background-color:transparent;background-image: url("../img/sub/review/review/more_btn.png");background-repeat: no-repeat;margin-right: 4px;}
                    >.write_btn{width: 90px;height: 16px;background-color:transparent;background-image: url("../img/sub/review/review/write_btn.png");background-repeat: no-repeat;}
                }
                >ul{clear: both;
                    >li{width: 190px;height: 300px;float: left;margin-left: 36px;
                        >a{width: 100%;height: 100%;display: block;background-repeat: no-repeat;}
                    }
                    >.review_1{margin-left: 0;
                        >a{background-image: url("../img/sub/review/review/review_1.png");}
                    }
                    >.review_2>a{background-image: url("../img/sub/review/review/review_2.png");}
                    >.review_3>a{background-image: url("../img/sub/review/review/review_3.png");}
                    >.review_4>a{background-image: url("../img/sub/review/review/review_4.png");}
                }
            }
        }
        
    }//.reviewContent
}//#reviewContentBox

 
/* FootWrap */
#FootWrap{width: 100%;height: 90px; background-color: $sub2;overflow: hidden;
    >#Foot{width: 876px;height: calc(100% - 20px);margin: 0 auto;padding: 10px 42px;
       >.top_btn{display: none; width: 13vw;height: 5.5vw;margin-left:40%; background-color: transparent;background-image: url(../img/footer/top_btn.png);background-repeat: no-repeat;background-size: 100%;}
        >ul{
            >li{width: 100%;}
            >.addBox1{width: 100%;height: 20px;margin-bottom: 10px;
                >ul{width: 100%;height: 20px;
                    >li{height: 20px;float: left;margin-right: 120px;
                        >a{background-position: center;}
                    }
                    >.foo_menu1{width: 36px;margin-left: 10px;
                        >a{background-image: url(../img/footer/foo_menu1.png);background-repeat: no-repeat;}
                    }
                    >.foo_menu2{width: 74px;
                        >a{background-image: url(../img/footer/foo_menu2.png);background-repeat: no-repeat;}
                    }
                    >.foo_menu3{width: 140px;
                         >a{background-image: url(../img/footer/foo_menu3.png);background-repeat: no-repeat;}    
                    }
                    >.foo_menu4{width: 88px;
                        >a{background-image: url(../img/footer/foo_menu4.png);background-repeat: no-repeat;}
                    }
                    >.foo_menu5{width: 37px;margin-right: 0;
                       >a{background-image: url(../img/footer/foo_menu5.png);background-repeat: no-repeat;}
                    }
                }
            }
            >.addBox2{width: 100%;height: 40px;
                >address{font-size: 0.778rem;
                    >p{color: #555;margin-bottom: 0.5rem;color: #a1a1a1;
                        >strong{font-weight: bold;color: #999;}
                            }
                }
            }
        }
    }
}
}