// mobile_v

@media screen and (max-width:480px){

*{margin: 0;padding: 0;border: 0; font-family: sans-serif;}
//*:focus{outline: 2px solid $sub2;}

#container{overflow: hidden;position: relative;}
 
#indicator_box .indWidth{box-shadow:2px 2px 2px #515151;background-color:$sub !important; width: 1rem !important;}
 .menu_btnBox{
    >.menubar1{transform: rotate(50deg) translate(15px,0);transition: 0.5s ease-in;}    
    >.menubar2{transform: rotate(-50deg) translate(8px,5px); transition: 0.5s ease-in;}        
    >.menubar3{display: none; }                                        
    >.menu_nav{width:100vw;height: auto;display: block;background-color: $main;position: absolute;top:6rem !important;right: -5vw !important; z-index: 900;box-shadow: 1px 1px 1px $sub2;
             >dt{width: 100%;height: 8vw;
                >a{width: 100%;height: 100%;display: block;text-decoration: none;border-top: 1px solid #fff;transition:  all 0.3s;cursor: pointer;
                    >span{width: 100%;height: 100%; text-align: center;line-height:8vw;font-size: 1rem;font-weight: bold;color: $sub2;
                    &:hover{background-color: $sub2; color: #ef4025;}
                    }
                }
            }
            >dt:nth-child(7){width: 50%;height: 8vw;float: left;
                >a{width: 100%;height: 100%;display: block;border-top: 1px solid #fff;transition:  all 0.3s;cursor: pointer;background-image: url(../img/header/login_off.png);background-repeat: no-repeat;background-size:contain;background-position: center;
                    &:hover{background-color: $sub2;background-image: url(../img/header/login_on.png);background-repeat: no-repeat;}
                    >span{width: 0;height: 0;display: block;overflow: hidden;}
                }
            }
            >dt:last-child{width: 50%;height: 8vw;float: left;
                >a{width: 100%;height: 100%;display: block;border-top: 1px solid #fff;transition:  all 0.3s;cursor: pointer;background-image: url(../img/header/join_off.png);background-repeat: no-repeat;background-size:contain;background-position: center;
                    &:hover{background-color: $sub2;background-image: url(../img/header/join_on.png);background-repeat: no-repeat;}
                >span{width: 0;height: 0;display: block;overflow: hidden;}
                }
            }
    }
}/* .menu_btnBox(mob_toggleClass) */


.eyeborowbar_1off{background-image: url("../img/sub/service/eyeborow_bar/eyeborow_bar_off.png");background-repeat: no-repeat;background-size: 100%;}
.eyeborowbar_1on{background-image: url("../img/sub/service/eyeborow_bar/eyeborow_bar_on.png");background-repeat: no-repeat;background-size: 100%;}
.eyeborowbar_2off{background-image: url("../img/sub/service/eyeborow_bar/service_off.png");background-repeat: no-repeat;background-size: 100%;}
.eyeborowbar_2on{background-image: url("../img/sub/service/eyeborow_bar/service_on.png");background-repeat: no-repeat;background-size: 100%;}
.eyeborowbar_3off{background-image: url("../img/sub/service/eyeborow_bar/qna_off.png");background-repeat: no-repeat;background-size: 100%;}
.eyeborowbar_3on{background-image: url("../img/sub/service/eyeborow_bar/qna_on.png");background-repeat: no-repeat;background-size: 100%;}
.eyeborowbar_4off{background-image: url("../img/sub/service/eyeborow_bar/location_off.png");background-repeat: no-repeat;background-size: 100%;}
.eyeborowbar_4on{background-image: url("../img/sub/service/eyeborow_bar/location_on.png");background-repeat: no-repeat;background-size: 100%;}        
.eyeborowbar_5off{background-image: url("../img/sub/service/eyeborow_bar/makeup_off.png");background-repeat: no-repeat;background-size: 100%;}
.eyeborowbar_5on{background-image: url("../img/sub/service/eyeborow_bar/makeup_on.png");background-repeat: no-repeat;background-size: 100%;}

.eyeborowbar_menu1{height:113vw;  background-image: url("../img/sub/service/eyeborow_bar/eyeborowbar_img.png");background-repeat: no-repeat;background-size: 100%;background-position:center;}
.eyeborowbar_menu2{height: 204.5vw;background-image: url("../img/sub/service/eyeborow_bar/service_img.png");background-repeat: no-repeat;background-size: 100%;background-position:center;}
.eyeborowbar_menu3{height: 91.5vw;background-image: url("../img/sub/service/eyeborow_bar/qna_img.png");background-repeat: no-repeat;background-size: 100%;background-position:center;}
.eyeborowbar_menu4{height: 302vw;background-image: url("../img/sub/service/eyeborow_bar/location_img.png");background-repeat: no-repeat;background-size: 100%;background-position:center;}
.eyeborowbar_menu5{height: 186vw;background-image: url("../img/sub/service/eyeborow_bar/makeup_img.png");background-repeat: no-repeat;background-size: 100%;background-position:center;}
    
#HeadWrap{width: 100%;height: auto;background-color: #fff;position: relative;
    >#Headbox{width: 100%;height: 110px;padding-top: 8px;
        >h1{width: 150px;height: 68px; margin: 0 auto; background-image: url(../img/header/espoir_logo.png);background-repeat: no-repeat;
            >a{width: 100%;height: 100%;display: block;}
        }
         >.site_map{width: 100%;height: 40px;position: absolute;left: 0;top:initial;background-color: $main;margin-top: 2px;
            >ul{width: 100%;height: 40px;
                >.site_search{width: 60vw;height: 20px;padding: 0.52vw; background-color:$sub2;border-radius: 2%;margin-left: 19%;margin-top:6px;
                    >form>fieldset>input{width: 49vw;height: 20px;float: left;text-indent: 2px;}
                    >form>fieldset>button{width: 28px;height: 20px;background-image: url(../img/header/search_btn.png);background-repeat: no-repeat;float: left;margin-left: 5px;}
                }
                >.site_login{width: 40px;height: 16px;margin-top: 7px;display: none;
                    >a{background-image: url(../img/header/menu_login.png);background-repeat: no-repeat;}}
                >.site_join{width: 30px;height: 16px;margin-right: 0;margin-top: 7px;display: none;
                >a{background-image: url(../img/header/menu_join.png);background-repeat: no-repeat;}
                }
            }
        } /*.site_map */      
        >.menu_btn{width: 8.2vw;height:9vw;position: absolute;top: 15%;right: 5%;background-color: transparent;
            >div{width: 8.2vw;height: 1.7vw; margin-top: 1.2vw;background-color:  $main;border-radius: 15%;}
        }
        >#gnb{width: 100%;height: 38px;background-color: $main;margin-top: 8px;display: none;
            >ul{width: 89.583vw;height: 22px; padding: 8px 50px;margin: 0 auto;
                >li{float: left;height: 20px;margin-right:8.8vw;}
                >.gnb_1{width: 45px;
                    >a{background-image: url(../img/header/menu_shop.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_shopOn.png);transition: .2s ease-in;}}}
                >.gnb_2{width: 56px;
                    >a{background-image: url(../img/header/menu_protip.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_protipOn.png);transition: .2s ease-in;}}}
                >.gnb_3{width: 60px;
                    >a{background-image: url(../img/header/menu_chance.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_chanceOn.png);transition: .2s ease-in;}}}
                >.gnb_4{width: 60px;
                    >a{background-image: url(../img/header/menu_service.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_serviceOn.png);transition: .2s ease-in;}}}
                >.gnb_5{width: 56px;
                    >a{background-image: url(../img/header/menu_review.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_reviewOn.png);transition: .2s ease-in;}}}
                >.gnb_6{width: 46px;margin-right: 0;
                    >a{background-image: url(../img/header/menu_brand.png);background-repeat: no-repeat;
                        &:hover{background-image: url(../img/header/menu_brandOn.png);transition: .2s ease-in;}}}
            }//ul
        }//#gnb
    }//#Headbox
}//#HeadWrap

/* serviceWrap */
#serviceWrap{width: 100%;height: 34vw;background-image:  url("../img/sub/service/service_img.png");background-repeat: no-repeat;position: relative;background-size: 100%; }//#serviceWrap

/* #serviceContentBox */
#serviceContentBox{width: 100%;height: auto;
    >.serviceContent{width: 94vw;height: auto;margin: 0 auto;border-left: $line;border-right: $line;overflow: hidden;
        >h2{width: 93.3333vw;height: 20px;background-color: #fff;padding: 15px 32px;box-shadow: 1px 2px 3px #ccc;
            >span{width: 145px;height: 22px;display: block; background-image:  url("../img/sub/service/sub_service_title.png");background-repeat: no-repeat;background-size: 88%;}
        }
        >.service_lesson{width: 100%;height: 55vw;background-image:  url("../img/sub/service/lesson/lesson_img.png");background-repeat: no-repeat;background-position: center;position: relative !important;background-size: 100%;
            >.lesson_box{width: 30vw;height: 16.25vw;background-image:  url("../img/sub/service/lesson/lesson_box.png");background-repeat: no-repeat;background-size: 100%; position: absolute;bottom:10%;right: 12%;
                >ul{margin-top: 22%;
                    >li{height: 7.6vw;float: left;margin-left: 14%;
                        >a{width: 100%;height: 100%;display: block;transition: .8s;}
                    }
                    .lesson_store{width: 5.6vw;margin-left: 8%;
                        >a{background-image:  url("../img/sub/service/lesson/store_off.png");background-repeat: no-repeat;background-size: 100%;
                            &:hover{background-image:  url("../img/sub/service/lesson/store_on.png");}
                        }
                    }
                    .lesson_apply{width: 4.791vw;
                        >a{background-image:  url("../img/sub/service/lesson/apply_off.png");background-repeat: no-repeat;background-size: 100%;
                            &:hover{background-image:  url("../img/sub/service/lesson/apply_on.png");}
                        }
                    }
                    .lesson_story{width: 6.25vw;
                        >a{background-image:  url("../img/sub/service/lesson/story_off.png");background-repeat: no-repeat;background-size: 100%;
                            &:hover{background-image:  url("../img/sub/service/lesson/story_on.png");}
                        }
                    }
                }
            }
            
        }
        >.service_membership{width: 100%;height: 24vw;
            >.vvip_lounge{width: 50%;height: 100%;float: left;background-image:  url("../img/sub/service/membership/vvip_off.png");background-repeat: no-repeat;transition: .8s ease-in;background-position: center;background-size: 100%;
                &:hover{background-image:  url("../img/sub/service/membership/vvip_on.png");}
            }
            >.membership{width: 50%;height: 100%;float: left;background-image:  url("../img/sub/service/membership/membership_off.png");background-repeat: no-repeat;transition: .8s ease-in;background-position: center;background-size: 100%;
                &:hover{background-image:  url("../img/sub/service/membership/membership_on.png");}
            }
        }
        >.service_artist_studio{width: 100%;height: 25vw;background-image:  url("../img/sub/service/artist_studio.png");background-repeat: no-repeat;background-size: 100%;}
        >.service_eyeborowbar{width: 90.625vw;height:auto;padding:2.0833vw 4.6875vw;
            >h3{width: 86vw;height: 2.7vw; display: block;overflow: hidden;margin: auto 0; background-position: center;background-size: 100% 92%; background-image: url("../img/sub/service/eyeborow_bar/eyebrow_bar_title.png");background-repeat: no-repeat;}
            >.eyeborowbar_img{width: 86vw;height: 21.3vw;background-image: url("../img/sub/service/eyeborow_bar/eyebrow_bar_img.png");background-repeat: no-repeat;background-position: center;background-size: 100%; margin-top: 2.0833vw;}
            >#eyeborowbar_menu{width: 86vw;height: auto;
                >dl{ 
                    >dt{width:17.2vw;height: 5.625vw;float: left;
                        >a{width: 100%;height: 100%;display: block;}
                    }
                    >dd{width:100%;clear: both;}
                }
            }
        }
        
         
    }//.shopContent
}//#shopContentBox

/* FootWrap */
#FootWrap{width: 100%;height: 16vw; background-color: $sub2;
    >#Foot{width: 91.25vw;height: calc(100% - 20px);margin: 0 auto;padding: 10px 4.375vw;
        >.top_btn{width: 13vw;height: 5.5vw;margin-left:40%; background-color: transparent;background-image: url(../img/footer/top_btn.png);background-repeat: no-repeat;background-size: 100%;}
        >ul{
            >li{width: 100%;}
            >.addBox1{width: 100%;height: 20px;margin-bottom: 1.041vw;display: none;
                >ul{width: 100%;height: 20px;
                    >li{height: 2.0833vw;float: left;margin-right: 8.5vw;
                        >a{background-position: center;}
                    }
                    >.foo_menu1{width: 36px;margin-left: 10px;
                        >a{background-image: url(../img/footer/foo_menu1.png);background-repeat: no-repeat;}
                    }
                    >.foo_menu2{width: 74px;
                        >a{background-image: url(../img/footer/foo_menu2.png);background-repeat: no-repeat;}
                    }
                    >.foo_menu3{width: 140px;
                         >a{background-image: url(../img/footer/foo_menu3.png);background-repeat: no-repeat;}    
                    }
                    >.foo_menu4{width: 88px;
                        >a{background-image: url(../img/footer/foo_menu4.png);background-repeat: no-repeat;}
                    }
                    >.foo_menu5{width: 37px;margin-right: 0;
                       >a{background-image: url(../img/footer/foo_menu5.png);background-repeat: no-repeat;}
                    }
                }
            }
            >.addBox2{width: 100%;height: 4.16666vw;
                >address{font-size: 0.765rem;
                    >.address_txt{color: #555;margin-bottom: 0.5rem;margin-top: 0.5rem; color: #a1a1a1;display: block;text-align: center;
                        >strong{font-weight: bold;color: #999;}
                    }
                    >p{color: #555;margin-bottom: 0.5rem;color: #a1a1a1;display: none;
                        >strong{font-weight: bold;color: #999;}
                    }

                }
            }
        }
    }
}      
}